<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Accordions | 세모통 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 세모통 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 세모통 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.default.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="in-sec">
						<h1 class="g-h1">Accordion</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">기본가이드</h2>
						</div>
						<div class="g-section-body">
							<ul class="g-desc">
								<li><a href="https://getbootstrap.com/docs/5.3/components/accordion/" target="_blank" class="g-link">https://getbootstrap.com/docs/5.3/components/accordion/</a></li>
								<li>탭 기능 : data-bs-toggle="tab" data-bs-target="#패널아이디"</li>
							</ul>
							<xmp>
<div class="accordion accordion-유형" id="accordionExample">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
				aria-expanded="true" aria-controls="collapseOne">
				Accordion Item #1
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
				plugin adds the appropriate classes that we use to style each element. These classes control the overall
				appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
				custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
				within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				Accordion Item #2
			</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
				plugin adds the appropriate classes that we use to style each element. These classes control the overall
				appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
				custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
				within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Accordion Item #3
			</button>
		</h2>
		<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
				plugin adds the appropriate classes that we use to style each element. These classes control the overall
				appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
				custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
				within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		</div>
	</div>
</div>
							</xmp>
						</div>
					</section>
					<!-- // Section -->
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Basic</h2>
						</div>
						<div class="g-section-body">
							<div class="accordion accordion-유형" id="accordionExample">
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											Accordion Item #1
										</button>
									</h2>
									<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
											plugin adds the appropriate classes that we use to style each element. These classes control the overall
											appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
											custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
											within the <code>.accordion-body</code>, though the transition does limit overflow.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Accordion Item #2
										</button>
									</h2>
									<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
											plugin adds the appropriate classes that we use to style each element. These classes control the overall
											appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
											custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
											within the <code>.accordion-body</code>, though the transition does limit overflow.
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Accordion Item #3
										</button>
									</h2>
									<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
											plugin adds the appropriate classes that we use to style each element. These classes control the overall
											appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
											custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
											within the <code>.accordion-body</code>, though the transition does limit overflow.
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer -->
		<div data-include="include_footer.html"></div>
		<!-- // Footer -->
	</div>

	<script>
		// https://getbootstrap.com/docs/5.3/components/toasts/
		const toastTrigger = document.getElementById('liveToastBtn')
		const toastLiveExample = document.getElementById('liveToast')

		if (toastTrigger) {
			const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
			toastTrigger.addEventListener('click', () => {
				toastBootstrap.show()
			})
		}
	</script>

</body>

</html>