<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Colorset | 세모통 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 세모통 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 세모통 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 인크루드 설정용도(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
	<style>
		.g-section {
			color: #444;
		}
		.g-section-body {
			line-height: 1.5
		}
		.g-section-body span {
			display: inline-block;
			padding: 5px 10px;
		}
		.g-section-body [class^='bg-'] {
			color: transparent;
		}
		.g-section-body [class^='line-'] {
			border-width: 1px;
			border-style: solid;
			color: transparent;
		}
	</style>
</head>

<body>
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body out-sec">
					<div class="in-sec">
						<h1 class="g-h1">Colorset</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">분류</h2>
						</div>
						<div class="g-section-body">
							<div class="grid demo">
								<p class="col col-4">배경 컬러 <br>bg-</p>
								<p class="col col-4">폰트 컬러 <br>txt-</p>
								<p class="col col-4">라인 컬러 <br>line-</p>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">강조</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">-primary (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-primary">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-primary">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-primary">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-secondary (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-secondary">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-secondary">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-secondary">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-point (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-point">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-point">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-point">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-info (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-info">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-info">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-info">라인 컬러</span></p>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">아이템</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">-item-best (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-item-best">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-item-best">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-item-best">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-item-recom (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-item-recom">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-item-recom">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-item-recom">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-item3 (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-item3">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-item3">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-item3">라인 컬러</span></p>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">상태</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">-success (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-success">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-success">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-success">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-fail (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-fail">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-fail">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-fail">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-complete (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-complete">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-complete">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-complete">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-error (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-error">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-error">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-error">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-warning (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-warning">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-warning">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-warning">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-caution (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-caution">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-caution">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-caution">라인 컬러</span></p>
							</div>

							<h3 class="g-h3">-danger (미정)</h3>
							<div class="grid demo">
								<p class="col col-4"><span class="bg-danger">배경 컬러</span></p>
								<p class="col col-4"><span class="txt-danger">폰트 컬러</span></p>
								<p class="col col-4"><span class="line-danger">라인 컬러</span></p>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec" style="display: none;">
						<div class="g-section-head">
							<h2 class="g-h2">스킨</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">주제: skin-의미 (미정)</h3>
							<div class="skin-의미">
								<div class="grid demo">
									<p class="col col-4"><span class="skin-bg">배경 컬러</span></p>
									<p class="col col-4"><span class="skin-txt">폰트 컬러</span></p>
									<p class="col col-4"><span class="skin-line">라인 컬러</span></p>
								</div>
							</div>

							<h3 class="g-h3">주제: skin-의미 (미정)</h3>
							<div class="skin-의미">
								<div class="grid demo">
									<p class="col col-4"><span class="skin-txt">폰트 컬러</span></p>
									<p class="col col-4"><span class="skin-bg">배경 컬러</span></p>
									<p class="col col-4"><span class="skin-line">라인 컬러</span></p>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer -->
		<div data-include="include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>