<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Forms | 세모통 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 세모통 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 세모통 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.default.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="in-sec">
						<h1 class="g-h1">Form</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Elements</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">Textbox / Select / Textarea </h3>
							<div class="form-controls">
								<input type="text" name="" id="" value="" placeholder="Placeholder" class="input demo1">
								<input type="text" name="" id="" value="Value" placeholder="Placeholder"
									class="input demo1">
								<input type="text" name="" id="" value="" placeholder="Placeholder" class="input demo1"
									readonly>
								<input type="text" name="" id="" value="" placeholder="Placeholder" class="input demo1"
									disabled>
							</div>
							<br>
							<div class="form-controls">
								<select name="" id="" class="select demo1">
									<option value="">콤보상자1</option>
									<option value="">콤보상자2</option>
								</select>
								<select name="" id="" class="select demo1" aria-readonly="true">
									<option value="">콤보상자1</option>
									<option value="">콤보상자2</option>
								</select>
								<select name="" id="" class="select demo1" disabled>
									<option value="">콤보상자1</option>
									<option value="">콤보상자2</option>
								</select>
							</div>
							<br>
							<textarea cols="50" rows="2" class="input demo1"></textarea>

							<h3 class="g-h3">File Attach</h3>
							<h4 class="g-h4">기본</h4>
							<div class="form-controls">
								<span class="file-add demo1">
									<input type="text" id="sFilesName11" class="input demo1" title="첨부된 파일명">
									<label for="sFiles1" class="btn demo1 type-attach" role="button">
										<span><input type="file" name="sFiles1" id="sFiles1" value="찾아보기" tabindex="-1"
												aria-hidden="true" onchange="fileAttachSrc(this, event)">첨부</span>
									</label>
								</span>
							</div>
							<h4 class="g-h4">추가삭제</h4>
							<div class="form-controls type-file">
								<div class="file-add-row">
									<span class="file-add demo1">
										<input type="text" id="sFileName21" class="input demo1" title="첨부된 파일명">
										<label for="sFilesAdd21" class="btn demo1 btn-file" role="button">
											<span><input type="file" name="sFilesAdd21" id="sFilesAdd21" value="찾아보기"
													tabindex="-1" aria-hidden="true"
													onchange="fileAttachSrc(this, event)">첨부</span>
										</label>
										<button type="button" class="btn demo1 type-add"
											onclick="fileAttachAdd(this, 'sFilesAdd2')"><span>추가</span></button>
										<button type="button" class="btn demo1 type-remove"
											onclick="fileAttachRemove(this)"><span>삭제</span></button>
									</span>
								</div>
							</div>
							<h4 class="g-h4">미리보기</h4>
							<div class="form-controls type-file">
								<div id="sFilePreview31" class="file-preview"></div>
								<span class="file-add demo1">
									<input type="text" id="sFileName31" class="input demo1" title="첨부된 파일명">
									<label for="sFilesAdd31" class="btn demo1 btn_file" role="button">
										<span><input type="file" name="sFilesAdd31" id="sFilesAdd31" value="찾아보기"
												tabindex="-1" aria-hidden="true"
												onchange="fileAttachSrc(this, event); fileAttachPreview('sFilePreview31', event)">첨부</span>
									</label>
								</span>
							</div>
							<h3 class="g-h3">Checkbox / Radio / Switch</h3>
							<div class="check-demo1-area">
								<span class="check demo1">
									<input type="checkbox" name="sCheck1" id="sCheck11" checked>
									<label for="sCheck11"><span class="blind">숨김처리</span></label>
								</span>
								<span class="check demo1">
									<input type="checkbox" name="sCheck1" id="sCheck12">
									<label for="sCheck12"><span>Label</span></label>
								</span>
								<span class="check demo1">
									<input type="checkbox" name="sCheck1" id="sCheck13" disabled>
									<label for="sCheck13"><span>Disabled</span></label>
								</span>
								<span class="check demo1">
									<input type="checkbox" name="sCheck1" id="sCheck14">
									<label for="sCheck14"><span>라벨이<br>두줄인 경우</span></label>
								</span>
							</div>
							<br>
							<div class="radio-demo1-area">
								<span class="radio demo1">
									<input type="radio" name="sRadio1" id="sRadio11" checked>
									<label for="sRadio11"><span class="blind">숨김처리</span></label>
								</span>
								<span class="radio demo1">
									<input type="radio" name="sRadio1" id="sRadio12">
									<label for="sRadio12"><span>Label</span></label>
								</span>
								<span class="radio demo1">
									<input type="radio" name="sRadio1" id="sRadio13" disabled>
									<label for="sRadio13"><span>Disabled</span></label>
								</span>
								<span class="radio demo1">
									<input type="radio" name="sRadio1" id="sRadio14">
									<label for="sRadio14"><span>라벨이<br>두줄인 경우</span></label>
								</span>
							</div>
							<br>
							<div class="switch-demo1-area">
								<span class="switch demo1">
									<input type="checkbox" name="sSwitch1" id="sSwitch11" value="">
									<label for="sSwitch11"></label>
								</span>
								<span class="switch demo1">
									<input type="checkbox" name="sSwitch1" id="sSwitch12" value="" checked>
									<label for="sSwitch12"></label>
								</span>
								<span class="switch demo1">
									<input type="checkbox" name="sSwitch1" id="sSwitch13" value="" disabled>
									<label for="sSwitch13"></label>
								</span>
								<span class="switch demo1">
									<input type="checkbox" name="sSwitch1" id="sSwitch14" value="" checked disabled>
									<label for="sSwitch14"></label>
								</span>
							</div>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer -->
		<div data-include="include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>