<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Forms | 세모통 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 세모통 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 세모통 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 인크루드 설정용도(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body>
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="in-sec">
						<h1 class="g-h1">Form Elements</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">기본 구조</h2>
						</div>
						<div class="g-section-body">
							<ul class="g-desc">
								<li>&lt;label&gt; 태그는 for/id 반드시 연결한다.</li>
								<li>&lt;label&gt; 생략된 input, select, textbox 는 반드시 title을 추가한다.</li>
								<li>title은 가급적 입력형식 우선순위로 설명한다. </li>
								<li>서식들의 아이디는 다른 기능과 중복되지 않도록 frm아이디 규칙을 적용한다.</li>
							</ul>
							<xmp style="max-height: 400px;">
<div class="ui-inp">
	<input type="text" name="" id="frm아이디" value="" placeholder="Placeholder" title="" class="inp" />
</div>

<div class="ui-inp">
	<input type="text" name="" id="frm아이디" value="" placeholder="Placeholder" title="" class="inp" />
	<button type="button" class="ui-btn"></button>
</div>

<div class="ui-textarea">
	<textarea name="" id="frm아이디" cols="50" rows="2" class="textarea"></textarea>
</div>

<div class="ui-sel">
	<select name="" id="frm아이디"  title="" class="sel">
		<option value="">콤보상자1</option>
		<option value="">콤보상자2</option>
	</select>
</div>

<div class="ui-chk">
	<input type="checkbox" name="" id="frm아이디" class="chk" />
	<label for="frm아이디"><span>체크박스</span></label>
</div>

<div class="ui-rdo">
	<input type="radio" name="" id="frm아이디" class="rdo" />
	<label for="frm아이디"><span>체크박스</span></label>
</div>

<div class="frm-file">
	<input type="text" id="frm제목아이디" title="첨부 파일명" class="input" readonly />
	<label class="ui-btn" role="button">
		<input type="file" name="" value="찾아보기" tabindex="-1" aria-hidden="true" />
		첨부
	</label>
</div>
							</xmp>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Input</h2>
						</div>
						<div class="g-section-body">
							<div class="ui-inp">
								<input type="text" name="" id="frmInp1" value="" placeholder="Placeholder" title="" class="inp" />
								<input type="text" name="" value="" placeholder="Placeholder" title="" class="inp" disabled />
							</div>
							<br>
							<br>
							<div class="ui-inp">
								<input type="text" name="" id="frmInp2" value="입력된 글자 (삭제가능)" placeholder="Placeholder" title="" class="inp" />
								<div class="on-right">
									<button type="button" class="ui-btn btn-clear" onclick="InputClearHandler('#frmInp2')"><i class="ui-icn">삭제</i></button>
								</div>
							</div>
							<div class="ui-inp">
								<input type="text" name="" id="frmInp3" value="입력된 글자 (Disabled)" placeholder="Placeholder" title="" class="inp" disabled />
								<div class="on-right">
									<button type="button" class="ui-btn btn-clear" onclick="InputClearHandler('#frmInp3')"><i class="ui-icn">삭제</i></button>
								</div>
							</div>
							<div class="ui-inp">
								<input type="text" name="" id="frmInp4" value="입력된 글자 (Readonly)" placeholder="Placeholder" title="" class="inp" readonly />
								<div class="on-right">
									<button type="button" class="ui-btn btn-clear" onclick="InputClearHandler('#frmInp4')"><i class="ui-icn">삭제</i></button>
								</div>
							</div>
							<br>
							<br>
							<div class="ui-inp">
								<input type="text" name="" id="frmInp5" value="입력된 글자 (삭제가능)" placeholder="Placeholder" title="" class="inp" />
								<div class="on-right">
									<button type="button" class="ui-btn btn-clear" onclick="InputClearHandler('#frmInp5')"><i class="ui-icn">삭제</i></button>
									<button type="button" class="ui-btn"><i class="ui-icn">검색</i></button>
								</div>
							</div>
							<div class="ui-inp">
								<input type="text" name="" id="frmInp6" value="입력된 글자 (Disabled)" placeholder="Placeholder" title="" class="inp" disabled />
								<div class="on-right">
									<button type="button" class="ui-btn btn-clear" onclick="InputClearHandler('#frmInp6')"><i class="ui-icn">삭제</i></button>
									<button type="button" class="ui-btn"><i class="ui-icn">검색</i></button>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Textarea</h2>
						</div>
						<div class="g-section-body">
							<div class="ui-textarea">
								<textarea name="" id="frm아이디" cols="50" rows="5" class="textarea"></textarea>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Select</h2>
						</div>
						<div class="g-section-body">
							<div class="ui-sel">
								<select name="" id="frm아이디"  title="" class="sel">
									<option value="">콤보상자1</option>
									<option value="">콤보상자2</option>
								</select>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Checkbox</h2>
						</div>
						<div class="g-section-body">
							<div class="ui-chk">
								<input type="checkbox" name="sCheck1" id="sCheck11" checked>
								<label for="sCheck11"><span class="blind">숨김처리</span></label>
							</div>
							<div class="ui-chk">
								<input type="checkbox" name="sCheck1" id="sCheck12">
								<label for="sCheck12"><span>Label</span></label>
							</div>
							<div class="ui-chk">
								<input type="checkbox" name="sCheck1" id="sCheck13" disabled>
								<label for="sCheck13"><span>Disabled</span></label>
							</div>
							<div class="ui-chk">
								<input type="checkbox" name="sCheck1" id="sCheck14">
								<label for="sCheck14"><span>라벨이<br>두줄인 경우</span></label>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Radio</h2>
						</div>
						<div class="g-section-body">

							<div class="ui-rdo">
								<input type="radio" name="sRadio1" id="sRadio11" checked>
								<label for="sRadio11"><span class="blind">숨김처리</span></label>
							</div>
							<div class="ui-rdo">
								<input type="radio" name="sRadio1" id="sRadio12">
								<label for="sRadio12"><span>Label</span></label>
							</div>
							<div class="ui-rdo">
								<input type="radio" name="sRadio1" id="sRadio13" disabled>
								<label for="sRadio13"><span>Disabled</span></label>
							</div>
							<div class="ui-rdo">
								<input type="radio" name="sRadio1" id="sRadio14">
								<label for="sRadio14"><span>라벨이<br>두줄인 경우</span></label>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Swich</h2>
						</div>
						<div class="g-section-body">

							<div class="ui-swich">
								<input type="checkbox" name="sSwitch1" id="sSwitch11" value="">
								<label for="sSwitch11"></label>
							</div>
							<div class="ui-swich">
								<input type="checkbox" name="sSwitch1" id="sSwitch12" value="" checked>
								<label for="sSwitch12"></label>
							</div>
							<div class="ui-swich">
								<input type="checkbox" name="sSwitch1" id="sSwitch13" value="" disabled>
								<label for="sSwitch13"></label>
							</div>
							<div class="ui-swich">
								<input type="checkbox" name="sSwitch1" id="sSwitch14" value="" checked disabled>
								<label for="sSwitch14"></label>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">File</h2>
						</div>
						<div class="g-section-body">
							<div class="ui-file">
								<input type="text" id="frm제목아이디" title="첨부 파일명" class="inp" readonly />
								<label class="ui-btn btn-frm" role="button">
									<input type="file" name="" value="찾아보기" tabindex="-1" aria-hidden="true" class="file" />
									첨부
								</label>
							</div>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer (include_footer.html) -->
		<div data-include="include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>