<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Grid | 세모통 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 세모통 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 세모통 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 인크루드 설정용도(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
	<style>
		.item {
			height: 40px;
			padding: 0 5px;
			background-color: #333;
			border: 1px solid #fff;
			line-height: 40px;
			text-align: center;
			color: #fff;
		}
	</style>
</head>

<body>
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="in-sec">
						<h1 class="g-h1">Grid</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Basic</h2>
						</div>
						<div class="g-section-body">
							<div class="grid">
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
								<div class="col col-1">
									<div class="item">col-1</div>
								</div>
							</div>
							<br>
							<div class="grid">
								<div class="col col-2">
									<div class="item">col-2</div>
								</div>
								<div class="col col-2">
									<div class="item">col-2</div>
								</div>
								<div class="col col-2">
									<div class="item">col-2</div>
								</div>
								<div class="col col-2">
									<div class="item">col-2</div>
								</div>
								<div class="col col-2">
									<div class="item">col-2</div>
								</div>
								<div class="col col-2">
									<div class="item">col-2</div>
								</div>
							</div>
							<br>
							<div class="grid">
								<div class="col col-3">
									<div class="item">col-3</div>
								</div>
								<div class="col col-3">
									<div class="item">col-3</div>
								</div>
								<div class="col col-3">
									<div class="item">col-3</div>
								</div>
								<div class="col col-3">
									<div class="item">col-3</div>
								</div>
							</div>
							<br>
							<div class="grid">
								<div class="col col-4">
									<div class="item">col-4</div>
								</div>
								<div class="col col-4">
									<div class="item">col-4</div>
								</div>
								<div class="col col-4">
									<div class="item">col-4</div>
								</div>
							</div>
							<br>
							<div class="grid">
								<div class="col col-6">
									<div class="item">col-6</div>
								</div>
								<div class="col col-6">
									<div class="item">col-6</div>
								</div>
							</div>
							<br>
							<div class="grid">
								<div class="col col-12">
									<div class="item">col-12</div>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer (include_footer.html) -->
		<div data-include="include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>