<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Modals | 세모통 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 세모통 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 세모통 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 인크루드 설정용도(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->

	<!-- 페이지 스크립트 영역 -->
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// 모달 바로 볼 수 있도록 호출
			// var alertModal = new bootstrap.Modal(document.getElementById('alertModal'));
			// alertModal.show();
		});
	</script>
</head>

<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="out-sec in-sec">
						<h1 class="g-h1">Modals</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">기본 구조</h2>
						</div>
						<div class="g-section-body">
							<ul class="g-desc">
								<li><a href="https://getbootstrap.com/docs/5.3/components/modal/" target="_blank" class="g-link">https://getbootstrap.com/docs/5.3/components/modal/</a></li>
							</ul>
							<!-- Modal -->
							 <xmp>
<div class="modal modal-full fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-유형">
		<div class="modal-content modal-컨텐츠">
			<div class="modal-header">
				<h3 class="modal-title" id="defaultModalLabel"></h3>
				<button type="button" class="ui-btn btn-close" data-bs-dismiss="modal" aria-label="Close">닫기</button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
							</xmp>
							<!-- // Modal -->
						</div>
					</section>
					<!-- // Section -->
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Baisc</h2>
						</div>
						<div class="g-section-body">
							<!-- Modal -->
							<button type="button" class="ui-btn btn-popup primary" data-bs-toggle="modal" data-bs-target="#basicModal">
								Basic modal
							</button>
							<div class="modal modal-basic fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title" id="basicModalLabel">Modal title</h1>
											<button type="button" class="ui-btn btn-close" data-bs-dismiss="modal" aria-label="Close">
												<i class="ui-icn icn-32-close-bk" aria-label="닫기"></i>
											</button>
										</div>
										<div class="modal-body">
											<div>
												<p style="height:600px; background-color: #eee;">Modal Body (스크롤 확인)</p>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="ui-btn btn-action primary" data-bs-dismiss="modal">Button</button>
										</div>
									</div>
								</div>
							</div>
							<!-- // Modal -->
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Select</h2>
						</div>
						<div class="g-section-body">
							<!-- Modal -->
							<div class="ui-sel">
								<!-- 선택전 is-placeholder, (선택후 삭제) -->
								<button type="button" id="frmType" class="sel is-placeholder" role="combobox" aria-haspopup="listbox" data-bs-toggle="modal" data-bs-target="#selectModal">
									<span>문의유형 선택</span>
									<i class="ui-icn icn-20-select-arw" aria-hidden="true"></i>
								</button>
							</div>
							<div class="modal modal-select fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="selectModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h3 class="modal-title" id="selectModalLabel">문의유형 선택</h3>
											<!-- 닫기버튼은 CSS로 숨기고 필요시 활성화 예정 -->
											<button type="button" class="ui-btn btn-close" data-bs-dismiss="modal" aria-label="Close">
												<i class="ui-icn icn-32-close-bk" aria-label="닫기"></i>
											</button>
										</div>
										<div class="modal-body">
											<!-- 콤보박스 섹션 -->
											<section class="select-sec">
												<div class="sec-inner">
													<!-- modal-select 공통 -->
													<ul class="select-listbox" role="listbox">
														<!-- setSelectValued 는 퍼블 확인용입니다. -->
														<!-- 이미 선택목록이 있는 경우 class="is-selected" 추가 -->
														<li role="option" tabindex="0" data-bs-dismiss="modal" onclick="setSelectValued('#frmType', this)">문의유형 1</li>
														<li role="option" tabindex="0" data-bs-dismiss="modal" onclick="setSelectValued('#frmType', this)">문의유형 2</li>
														<li role="option" tabindex="0" data-bs-dismiss="modal" onclick="setSelectValued('#frmType', this)">문의유형 3</li>
														<li role="option" tabindex="0" data-bs-dismiss="modal" onclick="setSelectValued('#frmType', this)">문의유형 4</li>
													</ul>
												</div>
											</section>
											<!-- // 콤보박스 섹션 -->
										</div>
									</div>
								</div>
							</div>
							<!-- // Modal -->
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Full</h2>
						</div>
						<div class="g-section-body">
							<!-- Modal -->
							<button type="button" class="ui-btn btn-popup primary" data-bs-toggle="modal" data-bs-target="#fullModal">
								Basic modal
							</button>
							<div class="modal modal-full fade" id="fullModal" tabindex="-1" role="dialog" aria-labelledby="fullModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title" id="fullModalLabel">Modal title</h1>
											<button type="button" class="ui-btn btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="ui-icn icn-32-close-bk" aria-label="닫기"></i>
					</button>
										</div>
										<div class="modal-body">
											<div>
												<p style="height:600px; background-color: #eee;">Modal Body (스크롤 확인)</p>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="ui-btn btn-action primary" data-bs-dismiss="modal">Button</button>
										</div>
									</div>
								</div>
							</div>
							<!-- // Modal -->
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Alert, Confirm</h2>
						</div>
						<div class="g-section-body">
							<ul class="g-desc">
								<li>바닥 클릭시 모달 안닫힘 : data-bs-backdrop="static"</li>
							</ul>
							<button type="button" class="ui-btn btn-popup primary" data-bs-toggle="modal" data-bs-target="#alertModal">
								Alert modal
							</button>
							<br>
							<button type="button" class="ui-btn btn-popup primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
								Confirm modal
							</button>

							<!-- Modal Alert -->
							<div class="modal modal-alert fade" id="alertModal" tabindex="-1" role="alertdialog" data-bs-backdrop="static" aria-labelledby="alertModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h3 class="modal-title blind" id="alertModalLabel">Alert Message</h3>
										</div>
										<div class="modal-body">
											<section class="msg-sec">
												<h4 class="sec-tit">Alert 제목 텍스트가 들어가는 영역입니다.</h4>
												<p class="sec-txt"><span class="txt-primary">Alert 설명 텍스트</span>가 들어가는 영역입니다.</p>
											</section>
										</div>
										<div class="modal-footer">
											<button type="button" class="ui-btn btn-modal primary" data-bs-dismiss="modal">
												<span>Save</span>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- // Modal Alert -->

							<!-- Modal Confirm -->
							<div class="modal modal-confirm fade" id="confirmModal" tabindex="-1" role="alertdialog" data-bs-backdrop="static" aria-labelledby="confirmModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title blind" id="confirmModalLabel">Confirm Message</h1>
										</div>
										<div class="modal-body">
											<section class="msg-sec">
												<h4 class="sec-tit">Confirm 제목 텍스트가 들어가는 영역입니다.</h4>
												<p class="sec-txt"><span class="txt-primary">Confirm 설명 텍스트</span>가 들어가는 영역입니다.</p>
											</section>
										</div>
										<div class="modal-footer">
											<button type="button" class="ui-btn btn-modal normal" data-bs-dismiss="modal">
												<span>Cancel</span>
											</button>
											<button type="button" class="ui-btn btn-modal primary" data-bs-dismiss="modal">
												<span>Save</span>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- // Modal Confirm -->
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2"></h2>
						</div>
						<div class="g-section-body">
						</div>
					</section>
					<!-- // Section -->

				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer (include_footer.html) -->
		<div data-include="include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>