<div class="footer-sec">
	<div class="logo-area">
		<div class="logo-footer">
			<img src="../../assets/images/common/img-logo-wh.png" alt="세모통 로고" />
		</div>
	</div>

	<div class="fnb-area">
		<ul class="fnb-list">
			<li class="fnb-item">
				<a href="#" class="ui-btn">이용가이드</a>
			</li>
			<li class="fnb-item">
				<a href="#" class="ui-btn">FAQ</a>
			</li>
			<li class="fnb-item">
				<a href="#" class="ui-btn">공지사항</a>
			</li>
			<li class="fnb-item">
				<a href="#" class="ui-btn">이용약관</a>
			</li>
			<li class="fnb-item">
				<a href="#" class="ui-btn">개인정보처리방침</a>
			</li>
		</ul>
	</div>

	<div class="info-area">
		<div class="info-cont">
			<strong class="info-tit">(주)세모통</strong>
			<p class="info-txt">사업자등록번호 : 000-00-000000 | 대표 : 한수진</p>
			<p class="info-txt">통신판매업 신고번호 : 2000-서울강남-00000</p>
			<p class="info-txt">주소 : 서울 강남구 테헤란로</p>
			<p class="info-txt">이메일 : Help@semotong.com</p>
		</div>
		<div class="info-cont">
			<strong class="info-tit">고객센터</strong>
			<p class="info-txt">카카오톡 : @세모통</p>
		</div>
		<div class="info-cont">
			<strong class="info-tit">운영시간</strong>
			<p class="info-txt">월~목 : 10:00 ~ 18:00</p>
			<p class="info-txt">금 : 10:00 ~ 17:00</p>
			<p class="info-txt">점심시간 : 12:30 ~ 13:30 (주말, 공휴일 제외)</p>
		</div>
	</div>
</div>

<nav class="footer-gnb">
	<ul class="gnb-list">
		<li class="gnb-item">
			<a href="/" role="link" class="ui-btn gnb-link is-selected">
				<i class="ui-icn icn-24-gnb-01-gr"></i>
				<span>홈</span>
			</a>
		</li>
		<li class="gnb-item">
			<a href="/" role="link" class="ui-btn gnb-link">
				<i class="ui-icn icn-24-gnb-02-gr"></i>
				<span>요금제</span>
			</a>
		</li>
		<li class="gnb-item">
			<a href="/" role="link" class="ui-btn gnb-link">
				<i class="ui-icn icn-24-gnb-03-gr"></i>
				<span>인터넷</span>
			</a>
		</li>
		<li class="gnb-item">
			<a href="/" role="link" class="ui-btn gnb-link">
				<i class="ui-icn icn-24-gnb-04-gr"></i>
				<span>휴대폰</span>
			</a>
		</li>
		<li class="gnb-item">
			<a href="/" role="link" class="ui-btn gnb-link">
				<i class="ui-icn icn-24-gnb-05-gr"></i>
				<span>마이페이지</span>
			</a>
		</li>
	</ul>
</nav>