	<div class="header-pc-sec">
		<h1 class="title">
			<!-- 로고 베타 추가 -->
			<a href="../scenario/F-M01-01.html" class="logo"><span class="blind">세모통</span></a>
			<span class="logo-beta"><img src="../../assets/images/common/img-logo-header-beta.png" alt=""></span>
		</h1>
		<div class="header-nav">
			<ul class="nav-list">
				<li class="nav-item">
					<!-- 선택된 상태 : is-selected -->
					<a href="../F-HP/F-HP01-01.html" role="link" class="ui-btn nav-link">
						<span>홈</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="../scenario/F-P01-01.html" role="link" class="ui-btn nav-link">
						<span>요금제</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="../F-I/F-I01-01.html" role="link" class="ui-btn nav-link">
						<span>인터넷</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="../F-HP/F-HP01-01.html" role="link" class="ui-btn nav-link">
						<span>휴대폰</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="../F-MY/F-MY01-01.html" role="link" class="ui-btn nav-link">
						<span>마이페이지</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
