<div class="header-skip">
	<a href="#content">본문 바로가기</a>
</div>

<div class="header-sec">
	<div class="logo-area">
		<a href="../main/main.html" class="logo-header">
			<img src="../../assets/images/common/img-logo-bk.svg" alt="세모통 로고" />
		</a>
	</div>

	<nav class="nav-area">
		<ul class="nav-list">
			<li class="nav-item">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle is-current" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span>유심먼저</span>
						<i class="icn icn-14-drop-down" aria-label="펼치기 토글"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span>요금제</span>
						<i class="icn icn-14-drop-down" aria-label="펼치기 토글"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span>휴대폰</span>
						<i class="icn icn-14-drop-down" aria-label="펼치기 토글"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span>인터넷</span>
						<i class="icn icn-14-drop-down" aria-label="펼치기 토글"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span>이벤트</span>
						<i class="icn icn-14-drop-down" aria-label="펼치기 토글"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span>마이페이지</span>
						<i class="icn icn-14-drop-down" aria-label="펼치기 토글"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>

	<div class="btn-area">
		<a href="#" class="btn">요금제 추천</a>
	</div>
</div>