	<ul class="nav-list">
		<li class="nav-item">
			<!-- 선택된 상태 : is-selected -->
			<a href="/" role="link" class="ui-btn nav-link">
				<i class="ui-icn icn-24-nav-01-gr"></i>
				<span>홈</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="/" role="link" class="ui-btn nav-link">
				<i class="ui-icn icn-24-nav-02-gr"></i>
				<span>요금제</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="/" role="link" class="ui-btn nav-link">
				<i class="ui-icn icn-24-nav-03-gr"></i>
				<span>인터넷</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="/" role="link" class="ui-btn nav-link">
				<i class="ui-icn icn-24-nav-04-gr"></i>
				<span>휴대폰</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="/" role="link" class="ui-btn nav-link">
				<i class="ui-icn icn-24-nav-05-gr"></i>
				<span>마이페이지</span>
			</a>
		</li>
	</ul>