		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title blind" id="asideModalLabel">전체메뉴</h3>
					<button type="button" class="ui-btn btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="ui-icn icn-32-close-bk" aria-label="닫기"></i>
					</button>
				</div>
				<div class="modal-body">
					<!-- 컨텐츠 섹션 -->
					<section class="aside-nav-sec">
						<div class="sec-inner">
							<!-- 4차 수정 : 전체메뉴 로고 추가 -->
							<div class="aside-logo">
								<a href="../scenario/F-M01-01.html" class="logo"><span class="blind">세모통</span></a>
							</div>
							<nav class="aside-nav">
								<ul class="nav-list">
									<li class="nav-item">
										<!-- 선택된 상태 : is-selected -->
										<a href="../F-G/F-G01-01.html" role="link" class="ui-btn nav-link">
											<i class="ui-icn icn-24-aside-01" aria-hidden="true"></i>
											<span>세모통 설명서</span>
										</a>
									</li>
									<li class="nav-item">
										<!-- 2025-05-20 조찬기 : GNB UI 개선건 (MO) -->
										<a href="../scenario/F-P01-01.html" role="link" class="ui-btn nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#subNavGroup" aria-expanded="false" aria-controls="subNavGroup">
											<i class="ui-icn icn-24-aside-02" aria-hidden="true"></i>
											<span>알뜰폰</span>
											<i class="ui-icn icn-24-dropdown-arw-gr" aria-hidden="true"></i>
										</a>
										<div id="subNavGroup" class="collapse">
											<ul class="sub-nav">
												<li class="sub-nav-item">
													<a href="../scenario/F-P01-01.html" role="link" class="ui-btn sub-nav-link">
														<span>알뜰요금제</span>
													</a>
												</li>
												<li class="sub-nav-item">
													<a href="../scenario/F-P01-01.html" role="link" class="ui-btn sub-nav-link">
														<span>SKT&middot;KT&middot;U+ 요금제</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li class="nav-item">
										<a href="../F-I/F-I01-01.html" role="link" class="ui-btn nav-link">
											<i class="ui-icn icn-24-aside-03" aria-hidden="true"></i>
											<span>인터넷</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="../F-E/F-E01-01.html" role="link" class="ui-btn nav-link">
											<i class="ui-icn icn-24-aside-05" aria-hidden="true"></i>
											<span>이벤트</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="../F-MY/F-MY01-01.html" role="link" class="ui-btn nav-link">
											<i class="ui-icn icn-24-aside-06" aria-hidden="true"></i>
											<span>마이페이지</span>
										</a>
									</li>
								</ul>

							</nav>
						</div>
					</section>
					<!-- // 컨텐츠 섹션 -->
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
