<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="세모통" />
	<meta name="description" content="세모통" />
	<title>Pages | 세모통</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 전용 (개발적용안함) -->

	<!-- 페이지 스크립트 영역 -->
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// 모달 바로 볼 수 있도록 호출
			var defaultModal = new bootstrap.Modal(document.getElementById('defaultModal'));
			defaultModal.show();
		});
	</script>
</head>

<body>
	<div class="wrapper">
		<div style="padding: 30rem;">
			<!-- 트리거로 모달 띄우기 -->
			<button type="button" class="ui-btn" data-bs-toggle="modal" data-bs-target="#defaultModal">
				MODAL OPEN
			</button>
		</div>
	</div>

	<!--
		[모달 가이드]
		모달 효과 : fade (공통) // 1차 수정: fade 공통으로 변경
		모달 기본 : modal
		모달 유형 : modal-full / modal-basic / modal-alert / modal-confirm / modal-select
		화면 이름 : 화면아이디-page (modal-select 제외)
	-->
	<!-- modal default -->
	<div class="modal fade-pc modal-full" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content 화면아이디-page">
				<div class="modal-header">
					<h3 class="modal-title" id="defaultModalLabel"></h3>
					<button type="button" class="ui-btn btn-close" data-bs-dismiss="modal" aria-label="Close">
						<i class="ui-icn icn-32-close-bk" aria-label="닫기"></i>
					</button>

				</div>
				<div class="modal-body">
					<!-- 컨텐츠 섹션 -->
					<section class="컨텐츠-sec">
						<!-- 모달 가이드 -->
						<a href="../../guide/components/modals.html">모달 스타일가이드</a>
					</section>
					<!-- // 컨텐츠 섹션 -->
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	<!-- // modal default -->
</body>

</html>