@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : Accordions
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
// s: 기본
.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}
.collapse:not(.show) {
	display: none;
}
.accordion-button .ui-icn {
	transition: transform .35s ease;
}
.accordion-button[aria-expanded='true'] .ui-icn {
	transform: rotate(180deg);
}