@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 배너
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 유형
-------------------------------------------------------------------*/
.ui-bnr {
	/* 이벤트 배너 */
	&.type-event {
		img {
			width: 100%;
			border-radius: 10rem;
			vertical-align: top;
		}
	}

	/* 링크배너 */
	&.type-link {

	}
}
