@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 탭 메뉴
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 유형
-------------------------------------------------------------------*/
.chk-style1 {
	position: relative;
	display: block;
	padding: 4rem 0;
	min-width: 150rem;
	cursor: pointer;
	&:last-child {
		margin-bottom: auto;
	}
	input {
		position: absolute;
		top: 4rem;
		left: 0;
		z-index: 1;
		width: 20rem;
		height: 20rem;
		outline: none;
	}
	.chk {
		display: block;
		position: relative;
		padding-left: 20rem;
		z-index: 2;
		&::before,
		&::after {
			content:'';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 20rem;
			height: 20rem;
			background: no-repeat center center;
		}
		&::before {
			opacity: 1;
			background-image:url('../images/common/icn-20-chk-nor.svg');
		}
		&::after {
			opacity: 0;
			background-image:url('../images/common/icn-20-chk-sel.svg');
		}
		> span {
			display: block;
			padding-left: 10rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 20rem;
			color: #5A5D60;
		}
	}
	input:checked + .chk {
		> span {
			font-weight: 600;
			color: $color-primary;
		}
		&::before {
			opacity: 0;
		}
		&::after {
			opacity: 1;
		}
	}
}
