@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 아이콘
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
// s: 기본
.ui-icn {
	flex: none;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	background: no-repeat center 1000rem / contain;
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: no-repeat center center / contain;
		transform: translateY(0%);
	}
	&::after {
		// content: ''; 이미지 교체하는 호버일때 호출
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: no-repeat center center / contain;
		transform: translateY(110%);
	}
}

// 추가하고 싶은 크기를 배열에 나열
$icn-sizes: (12, 14, 16, 18, 20, 24, 28, 32, 48);

@each $size in $icn-sizes {
	[class*='icn-#{$size}'] {
		width: #{$size}rem;
		height: #{$size}rem;
	}
}

/*-------------------------------------------------------------------
	@@ 아이콘
	- 클래스명과 파일명을 매칭 (폴더와 확장자를 분리)
	- 컬러 호버와, 파일 호버의 대응 추가
-------------------------------------------------------------------*/
// SVG Background Icons (파일명, 확장자)
$bg-icons: (
	// 아이콘 적용 가이드
	// (기본이미지, 확장자), 호버 없음 - 기본 아이콘
	// (기본이미지, 확장자, 호버컬러), 호버 컬러변경 - 마스크 처리방식
	// (기본이미지, 확장자, 호버이미지, 호버확장자), 호버 파일변경 - 포지션 처리방식 (깜빡임 대응으로 처음부터 불러오기)

	// Demo 가이드 정리용
	(icn-24-demo-edit-bk, svg),
	(icn-24-demo-medal-none, png, icn-24-demo-medal-hover, png),

	// 12
	(icn-12-tel-gr, svg),
	(icn-12-mail-gr, svg),
	(icn-12-antena-gr, svg),

	// 14
	(icn-14-more-gr, svg),
	(icn-14-noti-gr, svg),

	// 16
	(icn-16-more-gr, svg),
	(icn-16-star-bk, svg),
	(icn-16-emo-hand, png),

	// 18
	(icn-18-kakao-bk, png),

	// 20
	(icn-20-headset-bk, svg),

	// 24
	(icn-24-nav-01-gr, svg, icn-24-nav-01-pre, svg, icn-24-nav-01-sel, svg),
	(icn-24-nav-02-gr, svg, icn-24-nav-02-pre, svg, icn-24-nav-02-sel, svg),
	(icn-24-nav-03-gr, svg, icn-24-nav-03-pre, svg, icn-24-nav-03-sel, svg),
	(icn-24-nav-04-gr, svg, icn-24-nav-04-pre, svg, icn-24-nav-04-sel, svg),
	(icn-24-nav-05-gr, svg, icn-24-nav-05-pre, svg, icn-24-nav-05-sel, svg),
	(icn-24-clock, png),
	(icn-24-more-gr, svg),

	// 28

	// 32
	(icn-32-back-bk, svg),
	(icn-32-headset-bk, svg),
	(icn-32-anb-bk, svg),

	// 48
	(icn-48-recom-best, png),
	(icn-48-recom-parent, png),
);
@each $values in $bg-icons {
	// 기본
	$img-name: nth($values, 1);
	$ext-name: nth($values, 2);
	.#{$img-name} {
		&::before {
			background-image: url('../images/common/#{$img-name}.#{$ext-name}');
		}
	}

	// 기본 - 호버/셀렉트
	@if length($values) == 4 {
		$hover-img-name: nth($values, 3);
		$hover-ext-name: nth($values, 4);
		.#{$img-name}::after {
			content:'';
			background-image: url('../images/common/#{$hover-img-name}.#{$hover-ext-name}');
		}
		.is-selected .#{$img-name},
		.ui-btn:focus-visible .#{$img-name} {
			&::before {
				transform: translateY(110%);
			}
			&::after {
				transform: translateY(0%);
			}
		}
		@include pc-hover {
			.ui-btn:hover .#{$img-name} {
				&::before {
					transform: translateY(110%);
				}
				&::after {
					transform: translateY(0%);
				}
			}
		}
	}

	// 기본 - 프레스 - 셀렉트
	@if length($values) == 6 {
		$active-img-name: nth($values, 3);
		$active-ext-name: nth($values, 4);
		$hover-img-name: nth($values, 5);
		$hover-ext-name: nth($values, 6);

		.#{$img-name}::after {
			content:'';
			background-image: url('../images/common/#{$active-img-name}.#{$active-ext-name}');
		}
		.#{$img-name} {
			background-image: url('../images/common/#{$hover-img-name}.#{$hover-ext-name}');
		}

		// 프레스
		.ui-btn:hover .#{$img-name},
		.ui-btn:active .#{$img-name},
		.ui-btn:focus-visible .#{$img-name} {
			&::before {
				transform: translateY(110%);
			}
			&::after {
				transform: translateY(0%);
			}
		}
		// .ui-btn:hover .#{$img-name} {
		// 	@include pc-hover {
		// 		&::before {
		// 			transform: translateY(110%);
		// 		}
		// 		&::after {
		// 			transform: translateY(0%);
		// 		}
		// 	}
		// }

		// 셀렉트
		.is-selected .#{$img-name} {
			background-position: center center;
			&::before,
			&::after {
				transform: translateY(-110%);
				transform: translateY(-110%);
			}
		}
	}
}

