@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 아이콘
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
/* 기본 */
.icn {
	display: inline-block;
	vertical-align: middle;
	background: no-repeat center center / contain;
}

// 추가하고 싶은 크기를 배열에 나열
$icn-sizes: (16, 18, 20, 24, 28, 32);

@each $size in $icn-sizes {
	[class*='icn-#{$size}'] {
		width: #{$size}rem;
		height: #{$size}rem;
	}
}

/*-------------------------------------------------------------------
	@@ 아이콘
-------------------------------------------------------------------*/
// 추가하고 싶은 이미지명을 배열에 나열
$icn-names: (
	// 16
	'icn-16-아이콘명',
	'icn-16-아이콘명2',

	// 18
	'icn-18-아이콘명',

	// 20
	'icn-18-아이콘명',
);
@each $name in $icn-names {
	.#{$name} {
		background-image: url('../images/#{$name}.svg');
	}
}
