@charset "utf-8";

/*-------------------------------------------------------------------
	분류그룹 : 텍스트박스
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ Varialbles
-------------------------------------------------------------------*/
@mixin input-style {
	height: 52rem;
	width: 100%;
	padding: 15rem 18rem;
	border:1px solid #CFD0D1;
	border-radius: 4rem;
	font-size: 16rem;
	line-height: 22rem;
	font-weight: 500;
	color: #000000;

	&.is-placeholder,
	&::placeholder {
		color: #828588;
	}
}

/*-------------------------------------------------------------------
	@@ Input
-------------------------------------------------------------------*/
/* 스타일1 */
.ui-inp {
	display: inline-block;
	position: relative;

	.inp {
		@include input-style;

		// 기본상태 인터렉션
		&:focus,
		&:hover,
		&.is-focused {
			border-color: #0089b3;
		}
		&:read-only,
		&:disabled {
			background-color: #f8f8f8;
		}

		// 입력상태 인터렉션
		&:not(:placeholder-shown) + .on-right .btn-clear {
			display: block;
		}

		&:not(:placeholder-shown):disabled + .on-right .btn-clear {
			display: none;
		}

		&:not(:placeholder-shown):read-only + .on-right .btn-clear {
			display: none;
		}
	}

	.on-right {
		display: flex;
		align-items: center;
		gap: 4rem;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
	}

	.btn-clear {
		display: none;
	}

	&.fluid {
		width: 100%;
	}
}



/*-------------------------------------------------------------------
	@@ Textarea
-------------------------------------------------------------------*/
/* 스타일 */
.ui-textarea {
	.textarea {
		@include input-style;
		height: auto;
	}
	&:focus,
	&:hover,
	&.is-focused {
		border-color: #0089b3;
	}
	&.fluid {
		width: 100%;
	}
}


/*-------------------------------------------------------------------
	@@ Select
-------------------------------------------------------------------*/
/* 스타일 */
.ui-sel {
	.sel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: url('../demo/ico_select01_black.png') no-repeat right 10px center;
		@include input-style;

		&:disabled.demo1 {
			background-color: #f7f7f7;
		}
	}
	&.fluid {
		width: 100%;
	}
}

.ui-listbox {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	li {
		padding: 10rem 0rem;
		font-weight: 500;
		font-size: 16rem;
		line-height: 24rem;
		color: #000;
		&.is-selected {
			color: $color-primary;
		}
	}
}


/*-------------------------------------------------------------------
	@@ 유형
-------------------------------------------------------------------*/
/* File Attach */
.ui-file {
	position: relative;
	display: inline-flex;
}

.frm-file input.file {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.frm-file input.inp {
	display: inline-table;
}

.frm-file .btn-file {
	display: inline-table;
}