@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 이름표
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
// s: 기본
.ui-label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
// e: 기본

/*-------------------------------------------------------------------
	@@ 유형
-------------------------------------------------------------------*/
// s: 스타일1
.style-1 {
	padding: 4rem 8rem;
	font-size: 12rem;
	line-height: 1;
	color: #fff;
	font-weight: 600;
	border-radius: 7rem;

	// 베스트
	&.item-best {
		background-color: $color-item-best;
	}

	// 추천
	&.item-recom {
		background-color: $color-item-recom;
	}
}
// e: 공통
