@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 팝업
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
// s: 기본
.modal {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

	.modal-dialog {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		transition: transform .3s ease-out;
		transform: translate(0, 50px);
		pointer-events: none;
		.btn-close {
			position: absolute;
			top: 10rem;
			right: 10rem;
		}
	}
	// 인터렉션
	&.show .modal-dialog {
		transform: none;
	}
	&.modal-static .modal-dialog {
		transform: scale(1.02);
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0;
	&.show {
		opacity: 0.5;
	}
}
.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 280px;
	max-width: calc(100% - 40px);
	max-height: calc(100% - 40px);
	min-height: 150px;
	background-color: #fff;
	pointer-events: auto;
	.modal-header {
		flex:none;
	}
	.modal-body {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-basis: auto;
		overflow: auto;
		> div {
			flex: none;
		}
	}
	.modal-footer {
		flex:none;
	}
}

// 풀팝업
.modal-full {
	&.fade {
		transition: none;
	}
	.modal-dialog {
		transform: translate(0, 0);
	}

	.modal-content {
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
	}

	.modal-header {
		display: flex;
		align-items: center;
		height: $height-header;
		gap: 12rem;
		@include out-sec;

		.modal-title {
			flex: 1 1 auto;
			margin-right: auto;
			font-size: 20rem;
			font-weight: 600;
			line-height: 28px;
			@include ellipsis1;
		}

		.ui-btn {
			width: 32rem;
			height: 32rem;
		}
	}

	@include media-tablet-xs {
		&.fade {
			transition: opacity .15s linear;
		}
		.modal-dialog {
			transform: translate(0, 50px);
		}
		.modal-content {
			height: auto;
			max-width: $pc-inner-content;
			max-height: calc(100% - 40px);
		}
	}

}

/*-------------------------------------------------------------------
	@@ 유형
-------------------------------------------------------------------*/
/* Alert, Confirm */
.modal-alert,
.modal-confirm {
	.modal-content {
		width: 312rem;
		.msg-sec {
			min-width: 100%;
			padding: 28rem 16rem;
			text-align: center;

			.sec-tit {
				font-weight: 600;
				font-size: 20rem;
				color: #000;
				& + .sec-txt {
					margin-top: 24rem;
				}
			}
			.sec-txt {
				font-weight: 500;
				font-size: 16rem;
				color: #46484B;

				.txt-primary {
					color: #2F01D5;
				}
			}
		}
	}

	.modal-footer {
		display: flex;
		.ui-btn {
			flex: 1;
		}
	}
}


/* 스타일2 */