<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Bullets | Project Guide</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, Project Guide" />
	<meta name="description" content="프로젝트가이드, Project Guide" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/wonju.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.default.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="_include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="in-sec">
						<h1 class="g-h1">Bullet</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Default</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">모양</h3>
							<ul class="bul dot">
								<li>블릿 리스트</li>
							</ul>
							<h3 class="g-h3">숫자</h3>
							<ul class="bul num1">
								<li>블릿 리스트
									<ul class="bul num2">
										<li>블릿 리스트
											<ul class="bul num3">
												<li>블릿 리스트
													<ul class="bul num4">
														<li>블릿 리스트</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
							<h3 class="g-h3">영문</h3>
							<ul class="bul eng1">
								<li>블릿 리스트
									<ul class="bul eng2">
										<li>블릿 리스트
											<ul class="bul eng3">
												<li>블릿 리스트
													<ul class="bul eng4">
														<li>블릿 리스트</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
							<h3 class="g-h3">한글</h3>
							<ul class="bul kor1">
								<li>블릿 리스트
									<ul class="bul kor2">
										<li>블릿 리스트
											<ul class="bul kor3">
												<li>블릿 리스트</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
							<h3 class="g-h3">기호</h3>
							<div class="bul dash">
								<p>블릿 리스트</p>
							</div>
							<div class="bul bill">
								<p>블릿 리스트</p>
							</div>
							<div class="bul star">
								<p>블릿 리스트</p>
							</div>
						</div>
					</section>
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer -->
		<div data-include="_include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>