<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Popups | Project Guide</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, Project Guide" />
	<meta name="description" content="프로젝트가이드, Project Guide" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.default.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="_include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="in-sec">
						<h1 class="g-h1">Popups</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">Default</h2>
						</div>
						<div class="g-section-body">
							<button type="button" class="btn demo1 primary"
								onclick="popupOpen('popupDialog')"><span>Popup Basic</span></button>
							<br><br>
							<button type="button" class="btn demo1 primary" onclick="popupOpen('popupFull')"><span>Popup
									Full</span></button>
							<br><br>
							<button type="button" class="btn demo1 primary"
								onclick="popupOpen('popupSelect')"><span>Popup Select</span></button>
							<br><br>
							<button type="button" class="btn demo1 primary"
								onclick="popupOpen('popupConfirm')"><span>Popup Confirm</span></button>
							<br><br>
							<button type="button" class="btn demo1 primary"
								onclick="popupOpen('popupDialog')"><span>Popup Alert</span></button>
							<br><br>
							<button type="button" class="btn demo1 primary"
								onclick="popupOpen('popupDialogTest')"><span>Popup Test</span></button>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer -->
		<div data-include="_include_footer.html"></div>
		<!-- // Footer -->
	</div>


	<!-- Basic -->
	<div id="popupDialog" class="popup-wrap type-basic">
		<section class="popup demo1">
			<div class="popup-head">
				<h3 class="popup-tit">Basic Popup</h3>
			</div>
			<div class="popup-body">
				<div class="popup-content">
					Popup Content
				</div>
			</div>
			<div class="popup-foot">
				<div class="btn_wrap">
					<button type="button" class="btn demo1 primary"><span>버튼</span></button>
				</div>
			</div>
			<div class="popup-close">
				<button type="button" class="btn btn-close" onclick="popupClose('popupDialog')"><span>닫기</span></button>
			</div>
		</section>
	</div>
	<!-- //Basic -->

	<!-- Fullpopup -->
	<div id="popupFull" class="popup-wrap type-full" role="dialog" aria-modal="false">
		<section class="popup demo1">
			<div class="popup-head">
				<h3 class="popup-tit">Full Popup</h3>
			</div>
			<div class="popup-body">
				<div class="popup-content">
					Popup Content
				</div>
			</div>
			<div class="popup-foot">
				<div class="btn_wrap">
					<button type="button" class="btn demo1 primary"
						onclick="popupClose('popupFull')"><span>버튼</span></button>
				</div>
			</div>
			<div class="popup-close">
				<button type="button" class="btn btn-close" onclick="popupClose('popupFull')"><span>닫기</span></button>
			</div>
		</section>
	</div>
	<!-- //Fullpopup -->

	<!-- Select -->
	<div id="popupSelect" class="popup-wrap type-select" role="dialog" aria-modal="false">
		<section class="popup demo1">
			<div class="popup-head">
				<h3 class="popup-tit">Select Popup</h3>
			</div>
			<div class="popup-body">
				<div class="popup-content">
					Popup Content
				</div>
			</div>
			<div class="popup-close">
				<button type="button" class="btn btn-close" onclick="popupClose('popupSelect')"><span>닫기</span></button>
			</div>
		</section>
	</div>
	<!-- //Select -->

	<!-- Confirm -->
	<div id="popupConfirm" class="popup-wrap type-confirm" role="alertdialog" aria-modal="false">
		<section class="popup demo1">
			<div class="popup-body">
				<div class="popup-content">
					Popup Content
				</div>
			</div>
			<div class="popup-foot">
				<div class="btn_wrap">
					<button type="button" class="btn demo1"><span>취소</span></button>
					<button type="button" class="btn demo1 primary"
						onclick="popupClose('popupConfirm')"><span>확인</span></button>
				</div>
			</div>
			<div class="popup-close">
				<button type="button" class="btn btn-close"
					onclick="popupClose('popupConfirm')"><span>닫기</span></button>
			</div>
		</section>
	</div>
	<!-- //Confirm -->

	<!-- Alert -->
	<div id="popupAlert" class="popup-wrap type-alert" role="alertdialog" aria-modal="false">
		<section class="popup demo1">
			<div class="popup-body">
				<div class="popup-content">
					Popup Content
				</div>
			</div>
			<div class="popup-foot">
				<div class="btn_wrap">
					<button type="button" class="btn demo1 primary"
						onclick="popupClose('popupAlert')"><span>확인</span></button>
				</div>
			</div>
			<div class="popup-close">
				<button type="button" class="btn btn-close" onclick="popupClose('popupAlert')"><span>닫기</span></button>
			</div>
		</section>
	</div>
	<!-- //Alert -->

	<!-- Basic -->
	<div id="popupDialogTest" class="popup-wrap type-basic">
		<section class="popup demo1">
			<div class="popup-head">
				<h3 class="popup-tit">Basic Popup</h3>
			</div>
			<div class="popup-body">
				<div class="popup-content">
					<button type="button" class="btn demo1 primary"
						onclick="popupOpen('popupAlert')"><span>경고팝업</span></button>
				</div>
			</div>
			<div class="popup-foot">
				<div class="btn_wrap">
					<button type="button" class="btn demo1 primary"><span>버튼</span></button>
				</div>
			</div>
			<div class="popup-close">
				<button type="button" class="btn btn-close"
					onclick="popupClose('popupDialogTest')"><span>닫기</span></button>
			</div>
		</section>
	</div>
	<!-- //Basic -->

</body>

</html>