<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Tables | Project Guide</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, Project Guide" />
	<meta name="description" content="프로젝트가이드, Project Guide" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/semotong.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.default.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body class="pub_only"><!-- pub_only 퍼블리싱전용 클래스 (개발에 추가하지 않습니다.) -->
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="_include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body">
					<div class="in-sec">
						<h1 class="g-h1">Tables</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">style1</h2>
						</div>
						<div class="g-section-body">
							<div class="tbl-area">
								<div class="tbl demo1">
									<table>
										<caption>
											<strong>제목 요약</strong>
											<p>이 표는 셀제목1, 셀제목2, 셀제목3, 셀제목4 로 구성되었습니다.</p>
										</caption>
										<colgroup>
											<col style="width:25%">
											<col style="width:25%">
											<col style="width:25%">
											<col style="width:auto">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">셀제목1</th>
												<th scope="col">셀제목2</th>
												<th scope="col">셀제목3</th>
												<th scope="col">셀제목4</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>셀내용</td>
												<td>셀내용</td>
												<td>셀내용</td>
												<td>셀내용</td>
											</tr>
											<tr>
												<td>셀내용</td>
												<td>셀내용</td>
												<td>셀내용</td>
												<td>셀내용</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">style2</h2>
						</div>
						<div class="g-section-body">
							<div class="tbl-area">
								<div class="tbl demo1">
									<table>
										<caption>
											<strong>제목 요약</strong>
											<p>이 표는 셀제목1, 셀제목2, 셀제목3, 셀제목4 로 구성되었습니다.</p>
										</caption>
										<colgroup>
											<col style="width:25%">
											<col style="width:25%">
											<col style="width:25%">
											<col style="width:auto">
										</colgroup>
										<tbody>
											<tr>
												<th scope="row">셀내용</th>
												<td>셀내용</td>
												<th scope="row">셀내용</th>
												<td>셀내용</td>
											</tr>
											<tr>
												<th scope="row">셀내용</th>
												<td>셀내용</td>
												<th scope="row">셀내용</th>
												<td>셀내용</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer -->
		<div data-include="_include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>