@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 인터넷 홈
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 인터넷 페이지
.F-I01-01-page {

	// 페이지 여백
	padding-top: 10rem;
	--sec-outer-margin: 50rem;
	@include bottom-spacer;

	// s: 인터넷 소개 섹션
	.internet-intro-sec {
		.intro-box {
			display: flex;
			align-items: center;
			gap: 8rem;
			padding: 16rem;
			padding-left: 0;
			border-radius: 10rem;
			background-color: #F4F5F8;
			.intro-img {
				flex: none;
				width: 80rem;
				height: 80rem;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.intro-con {
				flex:1 1 auto;
				.tit {
					margin-top: 10rem;
					font-weight: 700;
					font-size: 14rem;
					line-height: 20rem;
					word-break: keep-all;
					color: #2A2B2D;
					em {
						color: $color-primary;
					}
				}
				.txt {
					font-weight: 500;
					font-size: 14rem;
					line-height: 20rem;
					color: #5A5D60;
				}
			}
		}
	}
	// e: 인터넷 소개 섹션

	// s: 통신사 선택 섹션
	.telcom-choice-sec {
		margin-top: var(--sec-outer-margin);
		@include sec-basic;

		.choice-list {
			@include choice-list;
			grid-template-columns: 1fr 1fr;
		}
		.choice-rdo {
			@include choice-rdo;
			.choice-con {
				text-align: center;
			}
			.tit {
				margin-top: 8rem;
				text-align: center;
			}
		}
	}
	// e: 통신사 선택 섹션

	// s: 인터넷 선택 섹션
	.internet-choice-sec {
		margin-top: var(--sec-outer-margin);
		@include sec-basic;

		.choice-list {
			@include choice-list;
		}
		.choice-rdo {
			@include choice-rdo;
		}
		.option-list {
			display: flex;
			flex-wrap: wrap;
			gap: 4rem 20rem;
			margin-top: 12rem;
			.chk-style1 {
				min-width: 150rem;
			}
		}
	}
	// e: 인터넷 선택 섹션

	// s: TV채널 선택 섹션
	.chanel-choice-sec {
		margin-top: var(--sec-outer-margin);
		@include sec-basic;

		.choice-list {
			@include choice-list;
		}
		.choice-rdo {
			@include choice-rdo;
		}
	}
	// e: TV채널 선택 섹션

	// s: 전화 선택 섹션
	.call-choice-sec {
		margin-top: var(--sec-outer-margin);
		@include sec-basic;

		.choice-list {
			@include choice-list;
		}
		.choice-rdo {
			@include choice-rdo;
		}
	}
	// e: 전화 선택 섹션

	// s: 요금제 누눈에 보기 섹션
	.plan-view-sec {
		margin-top: var(--sec-outer-margin);
		@include sec-basic;

		.sec-inner {
			padding-top: var(--sec-outer-margin);
			border-top: 1px solid #EFF0F0;
		}

		.plan-table {
			width: 100%;
			overflow-x: auto;
			img {
				width: 720rem;
			}
		}
	}
	// e: 요금제 누눈에 보기 섹션

	// s: 인터넷 가입절차 섹션
	.join-steps-sec {
		margin-top: var(--sec-outer-margin);
		margin-bottom: var(--sec-outer-margin);
		@include sec-basic;

		.join-steps {
			li {
				display: flex;
				font-weight: 500;
				font-size: 14rem;
				line-height: 20rem;
				color: #46484B;
				& + li {
					margin-top: 26rem;
					.num::after {
						content:'';
						position: absolute;
						left: calc(50% - 1px);
						bottom: 100%;
						display: block;
						width: 2rem;
						height: 44rem;
						background-color: #EAE6FB;
					}
				}
				.num {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 24rem;
					height: 24rem;
					margin-right: 10rem;
					border-radius: 2rem;
					background-color: #EAE6FB;
					font-weight: 700;
					font-size: 14rem;
					line-height: 20rem;
					color: #542FDD;
				}
				.con  {
					dt {
						font-weight: 600;
						font-size: 16rem;
						line-height: 24rem;
						color: #2A2B2D;
					}
					dd {
						color: #63666A;
					}
				}
			}
		}

	}
	// e: 인터넷 가입절차 섹션

	// s: 요금제 신청 섹션
	.payment-noti-sec {
		position: sticky;
		bottom: $height-footer;
		left: 0;
		z-index: 100;
		margin-top: auto;
		padding-top: 20rem;
		padding-bottom: 32rem;
		margin-bottom: -32rem;
		background-color: #fff;
		border-radius: 20rem 20rem 0 0;
		box-shadow: 0 -4rem 20rem 0 rgba(0,0,0,0.1);

		.payment-noti {
			.payment-tit {
				padding: 0 4rem;
				.charge {
					font-weight: 700;
					font-size: 20rem;
					line-height: 28rem;
					color: #000;
				}
				.freeGift {
					strong {
						font-weight: 600;
						color: $color-primary;
					}
				}
				.explan {
					display: flex;
					align-items: center;
					gap: 4rem;
					margin-top: 8rem;
					font-weight: 400;
					font-size: 14rem;
					line-height: 16rem;
					color: #63666A;
				}
			}
			.payment-con {
				margin-top: 13rem;
				padding: 8rem 12rem;
				border-radius: 4rem;
				background-color: #F4F5F8;
				.item {
					display: flex;
					justify-content: space-between;
					font-size: 12rem;
					line-height: 16rem;
					.tit {
						display: block;
						font-weight: 500;
					}
					.charge {
						display: block;
						font-weight: 700;
						text-align: right;
					}
					& + .item {
						margin-top: 2rem;
					}
				}
			}
			.payment-btn {
				margin-top: 20rem;
			}
		}

		@include media-tablet-xs {
			border-top: 1px solid #EFF0F0;
			box-shadow: none;
			border-radius: 0;
			bottom: 0;
			padding-bottom: $pc-bottom-spacer;
			margin-bottom: calc(#{$pc-bottom-spacer} * -1);

		}
	}
	// e: 요금제 신청 섹션
}
// e: 인터넷 페이지
