@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 인터넷 홈
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 인터넷 페이지
.F-I02-01-page {
	// 페이지 여백
	--sec-outer-margin: 50rem;
	@include bottom-spacer;

	.rending-main-sec {
		padding-left: 0;
		padding-right: 0;

		.rending-desc {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40rem;
			font-weight: 400;
			font-size: 16rem;
			line-height: 22rem;
			text-align: center;

			strong {
				font-weight: 600;
			}

			&.green {
				background-color: #BADEDE;
			}
			&.purple {
				background-color: #DCD5FB;
			}
		}

		.rending-form {
			padding-top: 24rem;
			padding-bottom: 24rem;
			background-color: #F4F5F8;

			@include out-sec;

			.ui-inp-group {
				display: flex;
				flex-direction: column;
				gap: 8rem;

				.ui-inp {
					width: 100%;
				}
			}

			.ui-chk-group {
				display: flex;
				flex-direction: column;
				gap: 6rem;
				margin-top: 20rem;

				.ui-chk {
					width: 100%;
				}
			}

			.ui-btn-group {
				margin-top: 20rem;
			}

			.secret-desc {
				margin-top: 30rem;
				font-weight: 400;
				font-size: 12rem;
				line-height: 16rem;
				color: #828588;
				word-break: keep-all;
			}
		}
	}

	.benefit-sec {
		margin-top: var(--sec-outer-margin);
		@include sec-basic;

		.sec-header {
			.sec-tit {
				display: block;
				line-height: 28rem;
				em {
					color: $color-primary;
				}
			}
		}
	}
}

// e: 인터넷 페이지
