@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 메인
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ Sections
-------------------------------------------------------------------*/
.F-M01-page {
	// 공통
	> section {
		@include out-sec;
		margin-top: 30rem;
		& + section {
			margin-top: 60rem;
		}
	}
	.sec-inner {
		@include in-sec;
	}
	.sec-tit {
		font-weight: 700;
		font-size: 20rem;
		color: #2A2B2D;
	}
	.sec-explain {
		font-weight: 600;
		font-size: 14rem;
		color: #63666A;
	}

	// 비주얼
	.main-visual-sec {
	}

	// 추천딜
	.main-deal-sec {
	}

	// 나에게 맞는 요금제
	.main-myplan-sec {
	}

	// 틀별한 혜택
	.main-special-sec {
	}

	// 요금제 추천
	.main-recom-sec {
	}

	// 서비스 리뷰
	.main-review-sec {
	}

	// 파트너사
	.main-partner-sec {
	}
}


/*-------------------------------------------------------------------
	@@ 팝업명
-------------------------------------------------------------------*/
/* 섹션명 > 버튼명 > 팝업명 */