@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 타임딜 안내
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 타임딜 안내 팝업
.F-M01-P01-page {
	// s: 상품리스트 섹션
	.timedeal-sec {
		padding: 0;
		max-width: 320rem;
		.timedeal-body {
			position: relative;
			margin-top: -120rem;
		}
		img {
			max-width: 100%;
		}
	}
	// e: 상품리스트 섹션
}
// e: 타임딜 안내 팝업
