@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 요금제 상세
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 요금제 상세 페이지
.F-P02-01-page {

	// 페이시 여백
	.tab-content {
		@include bottom-spacer;
	}

	// s: 요금제 상품 섹션
	.ratePlanC-sec {
		padding-top: 10rem;

		// 요금제 상품 카드
		.ratePlanC-card {
			@include ratePlanC-card;
		}

		+ .ui-tab { /* 7차 수정 : 결합배너 미노출시 여백 대응 */
			margin-top: 34rem;
		}
	}
	// e: 요금제 상품 섹션

	// s: 요금제 결합
	.ratePlan-combi-sec { /* 2차 수정 : 체크박스 삭제, 간격 수정 */
		margin-top: 50rem;
		margin-bottom: 34rem;
		@include sec-basic;

		.combi-swiper { /* 7차 수정 : 결합배너 스와이프로 변경 */
			@include event-swiper;
		}

		.combi-bnr { /* 7차 수정 : 결합배너 스와이프로 변경 */
			@include event-bnr;
		}

		/* .ui-chk {
		 	margin-top: 14rem;
		} */

		.noti-box {
			margin-top: 14rem;
			@include noti-box;
		}
	}
	// e: 요금제 결합 섹션

	// s: 요금제 신청 섹션
	.payment-noti-sec {
		position: sticky;
		bottom: 0;
		left: 0;
		z-index: 100;
		margin-top: auto;
		padding-top: 20rem;
		background-color: #fff;
		border-radius: 20rem 20rem 0 0;
		box-shadow: 0 -4rem 20rem 0 rgba(0,0,0,0.1);

		.payment-noti {
			.payment-tit {
				padding: 0 4rem;
				.charge {
					font-weight: 700;
					font-size: 20rem;
					line-height: 28rem;
					color: #000;
				}
				.charge-sale {
					display: none;
				}
				.explan {
					margin-top: 1rem;
					font-weight: 500;
					font-size: 14rem;
					line-height: 20rem;
					color: #828588;
					em {
						font-weight: 700;
						&.price {
							color: #000;
						}
					}
				}
			}
			.payment-con {
				margin-top: 13rem;
				padding: 8rem 12rem;
				border-radius: 4rem;
				background-color: #F4F5F8;
				.item {
					display: flex;
					justify-content: space-between;
					font-size: 12rem;
					line-height: 16rem;
					.tit {
						display: block;
						font-weight: 500;
					}
					.charge {
						display: block;
						font-weight: 700;
						text-align: right;
					}
					& + .item {
						margin-top: 2rem;
					}
				}
			}
			.payment-btn {
				margin-top: 20rem;
				padding-bottom: 32rem;
			}

			// 인터넷 결합 시 할인 금액 보기
			&.is-sale {
				.payment-tit {
					.charge {
						display: none;
					}
					.charge-sale {
						display: flex;
						align-items: center;
						strong {
							font-weight: 700;
							font-size: 20rem;
							line-height: 28rem;
							color: #000;
							color: $color-primary;
						}
						span {
							margin-left: 4rem;
							font-weight: 500;
							font-size: 14rem;
							line-height: 20rem;
							color: #828588;
						}
					}
				}
			}
		}

		@include media-tablet-xs {
			border-top: 1px solid #EFF0F0;
			box-shadow: none;
			border-radius: 0;
		}
	}
	// e: 요금제 신청 섹션

	// s: 비슷한 요금제 섹션
	.similar-plan-sec {
		margin-bottom: 30rem;
		@include sec-basic;

		.similar-plan-swiper {
			.swiper-wrapper {
				.swiper-slide {
					width: 240rem;
					@include media-tablet-xs {
						width: 233rem;
					}
				}
			}
		}

		.similar-plan-card {
			width: 100%;
			.card-body {
				position: relative;
				padding: 16rem;
				border-radius: 2rem;
				background-color: #F4F5F8;
				.card-tit {
					font-weight: 500;
					font-size: 14rem;
					line-height: 20rem;
					color: #000000;
					@include ellipsis1;
				}
				.card-con {
					display: flex;
					flex-wrap: wrap;
					gap: 2rem 0;
					margin-top: 15rem;
					font-weight: 500;
					font-size: 12rem;
					line-height: 16rem;
					dt {
						flex: none;
						width: 60rem;
						color: #000;
					}
					dd {
						width: calc(100% - 60rem);
						color: #5A5D60;
						text-align: right;
						@include ellipsis1;
					}
				}
				.card-charge {
					margin-top: 14rem;
					padding-top: 10rem;
					border-top: 1px solid #CFD0D1;
					text-align: right;
					font-weight: 700;
					font-size: 16rem;
					line-height: 22rem;
					color: #000;
				}
				.card-button {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	// e: 비슷한 요금제 섹션
}
// e: 요금제 상세 페이지
