@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 제보하기 팝업
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 제보하기 페이지
.F-P02-01-P01-page {

	// s: 컨펌 메세지 섹션
	.msg-sec {
		.report-list {
			margin-top: 20rem;
			.report-item {
				& + .report-item {
					margin-top: 10rem;
				}
				.ui-textarea {
					height: 115rem;
				}
			}
		}
	}
	// e: 컨펌 메세지 섹션
}
// e: 제보하기 페이지
