@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 필터팝업
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 필터팝업 페이지
.F-P01-01-P01-page {
	max-width: $pc-inner-content !important;

	.modal-body {
		overflow: hidden;
	}
	.tab-pane {
		padding: 16rem 0;
		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
	.filter-sec {
		@include sec-basic;
		.sec-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10rem;
			.sec-valued {
				color: $color-primary;
				font-weight: 600;
				font-size: 16rem;
				line-height: 22rem;
			}
		}
	}

	.filter-rdo-frm {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 8rem;
		&.is-nowwrap {
			grid-template-columns: 1fr;
		}
		.filter-rdo {
			position: relative;
			display: block;

			input {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				display: block;
				width: 100%;
				height: 100%;
			}
			.rdo {
				position: relative;
				display: flex;
				align-items: center;
				z-index: 2;
				min-height: 56rem;
				padding: 7rem 15rem;
				border-radius: 10rem;
				background-color: #EFF0F0;
				border:1px solid transparent;
				cursor: pointer;
				> span {
					display: block;
					position: relative;
					width: 100%;
					padding-right: 25rem;
					font-weight: 500;
					font-size: 14rem;
					line-height: 20rem;
					color: #5A5D60;
					&::after {
						content:'';
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						width: 20rem;
						height: 20rem;
						opacity: 0;
						background: url('../images/common/icn-20-rdo-sel.svg') no-repeat center center / contain;
					}
					strong {
						display: block;
						margin-bottom: 4rem;
						font-weight: 600;
						font-size: 16rem;
						line-height: 22rem;
					}
				}
			}
			input:checked + .rdo {
				background-color: #EAE6FB;
				border-color: $color-primary;
				> span {
					font-weight: 600;
					color: $color-primary;
					&::after {
						opacity: 1;
					}
				}
			}
			&.has-tit {
				.rdo {
					padding-top: 13rem;
					padding-bottom: 13rem;
					> span::after {
						top: 1rem;
					}
				}
				input:checked + .rdo {
					> span {
						font-weight: 500;
						color: $color-primary;
					}
				}
			}
		}
	}

	.filter-chk-frm {
		display: flex;
		align-items: flex-start;
		gap: 8rem;

		.filter-chk-group {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			gap: 4rem 8rem;
			width: 100%;

			.filter-tit {
				width: 100%;
				margin-bottom: 2rem;
				font-weight: 600;
				font-size: 16rem;
				line-height: 22rem;
				color: #000;
			}
		}
	}

	.filter-range-frm {
		.range-wrapper {
			position: relative;
			width: 100%;
			height: 32rem;

			.range {
				-webkit-appearance: none;
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background-color: transparent;
				pointer-events: none;
			}

			.range::-webkit-slider-runnable-track {
				height: 6rem;
				background: transparent;
				border-radius: 6rem;
				pointer-events: none;
			}

			.range::-webkit-slider-thumb {
				-webkit-appearance: none;
				position: relative;
				top: -13rem;
				width: 32rem;
				height: 32rem;
				background:#fff;
				border-radius: 50%;
				border: 1px solid #EFF0F0;
				box-shadow: 0 0 4rem 0 rgba(0,0,0,0.15);
				cursor: pointer;
				pointer-events: auto;
			}

			.range-labels {
				position: absolute;
				top: 20px;
				width: 100%;
				text-align: center;
				font-size: 14px;
				color: #333;
			}

			.range:nth-child(1) {
				z-index: 1;
			}

			.range:nth-child(2) {
				z-index: 2;
			}
		}
	}
}
// e: 필터팝업 페이지
