@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 신분증 정보 입력
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 신분증 정보 입력 페이지
.F-QU01-10-01-page {
	.persnal-card {
		margin: 10rem 0 40rem 0;
		text-align: center;
		img {
			width: 210rem;
		}
	}
}
// e: 신분증 정보 입력 페이지
