@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 개인정보 제3자 동의
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 개통준비 가이드 팝업
.F-QU01-07-03-page {
	.help-service {
		margin-top: 30rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30rem;
	}

	.label-info {
		display: inline-flex;
		align-items: flex-start;
		gap: 6rem;
		padding: 8rem 14rem;
		border-radius: 40rem;
		background-color: #F4F5F8;
		font-weight: 500;
		font-size: 14rem;
		line-height: 20rem;
		color: #5A5D60;
		.ui-icn {
			top: 2rem;
		}
	}

}
// e: 개통준비 가이드 팝업
