@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 유심 정보 입력
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
// s: 유심 정보 입력
.F-QU01-07-01-page {
	.usim-image {
		max-width: 50%;
		min-width: 225rem;
		padding: 10rem;
		margin: 0 auto 40rem auto;
		img {
			width: 100%;
		}
	}
}
// e: 유심 정보 입력
