@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 메인
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
// section header
.main-page {
	.out-sec {
		padding-top: 100rem;
		padding-bottom: 100rem;
	}

	.h2 {
		font-size: 50rem;
		font-weight: 900;
		line-height: 1;
		letter-spacing: -0.05em;
	}

	.h2-explain {
		margin-top: 24rem;
		font-size: 27rem;
		line-height: 1;
	}
}

/*-------------------------------------------------------------------
	@@ Sections
-------------------------------------------------------------------*/
.main-page {
	// 비주얼
	.main-visual-sec {
		height: 645rem;
		padding-top: 0rem;
		padding-bottom: 110rem;
		background-color: #141414;

		.in-sec {
			display: flex;
		}

		.sec-header {
			margin-right: auto;
			padding-top: 150rem;
			.h2 {
				display: block;
				width: 551rem;
				height: 154rem;
				background: url('../images/main/visual-title.png') no-repeat center center / contain;
			}
			.btn {
				margin-top: 40rem;
				height: 73rem;
				padding: 0 44rem;
				font-size: 27rem;
				font-weight: 600;
				line-height: 1;
				color: #000000;
				border-radius: 50rem;
				background-color: $color-secondary;
				gap: 10rem;
			}
		}

		.sec-body {
			padding-top: 50px;
		}
	}

	// 세모통 추천딜
	.main-recommdeal-sec {
		margin-top: -75rem;
		border-radius: 75rem 75rem 0 0;
		background-color: $color-primary;
		.sec-header {
			color: #fff;
		}
	}

	// 나에게 맞는 요금제
	.main-myplan-sec {
		background-color: #ffffff;
	}

	// 틀별한 혜택
	.main-special-sec {
		background-color: #141414;
		color: #fff;
	}

	// 서비스 리뷰
	.main-review-sec {
		background-color: $color-primary;
		.sec-header {
			color: #fff;
		}
	}

	// 파트너사
	.main-partner-sec {
		background-color: #ffffff;
		.sec-header {
			color: #000000;
		}
	}
}


/*-------------------------------------------------------------------
	@@ 팝업명
-------------------------------------------------------------------*/
/* 섹션명 > 버튼명 > 팝업명 */