@charset 'utf-8';
/*-------------------------------------------------------------------
	분류그룹 : 레이아웃
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
// Default
body,
html {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	min-width: 320px;
	padding-top: $mobile-height-header;
}

.wrapper,
.container,
.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
}

.header,
.footer {
	flex: none;
	position: relative;
	@include out-sec;
}

// Common
.out-sec {
	@include out-sec;
}
.in-sec {
	@include in-sec;
}

// Header Mobile
.header-mobile {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	background-color: #fff;
	height: $mobile-height-header;
	border-bottom: 1px solid #EFF0F0;
	@include out-sec;
	transition: all 0.2s ease;

	.header-sec {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
		gap: 12rem;
		padding: 0;
		@include in-sec;

		.title { /* 로고 베타 추가 */
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			margin-right: auto;
			font-size: 20rem;
			font-weight: 600;
			line-height: 28px;
			@include ellipsis1;

			.logo {
				display: inline-block;
				width: 80rem;
				height: 24rem;
				mask: url('../images/common/img-logo-header-wh.svg') no-repeat center center / contain;
				background-color: #000000;
				transition: all 0.2s ease;
			}
			.logo-beta { /* 로고 베타 추가 */
				img {
					height: 20rem;
					margin-left: 6rem;
				}
			}
		}

		.ui-btn {
			width: 32rem;
			height: 32rem;
		}

		.icn-32-anb-bk::before {
			background: none;
			mask: url('../images/common/icn-32-anb-bk.svg') no-repeat center center / contain;
			background-color: #000000;
			transition: all 0.2s ease;
		}
	}
}
.is-scroll-first .header-mobile {
	border-color: transparent;

	&.primary {
		background-color: transparent;
		.title .logo {
			background-color: #fff;
		}

		.icn-32-anb-bk::before {
			background-color: #fff;
		}
	}
}

// Header Mobile
.header-desktop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	padding: 0 40rem;
	background-color: #fff;
	border-bottom: 1px solid #EFF0F0;
	transition: all 0.2s ease;

	.header-skip {
		position: fixed;
		left: 0;
		z-index: 900;
		bottom: 100%;
		width: 100%;

		a {
			display: block;
			width: 100%;
			text-align: center;
			line-height: 50rem;
			font-size: 18rem;
			color: #fff;
			transform: translateY(0%);
			background-color: rgba(0, 0, 0, 0.75);

			&:focus-visible {
				text-decoration: underline;
				text-underline-position: under;
				transform: translateY(100%);
				transition: all 0.2s ease;
			}
		}
	}

	.header-sec {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: $pc-height-header;
		gap: 12rem;
		padding: 0;
		max-width: 940rem;
		margin: 0 auto;
		// @include in-sec;

		.title {
			display: flex; /* 로고 베타 추가 */
			align-items: center;
			.logo { /* 3차 수정 : 로고 사이즈 변경 */
				display: block;
				width: 80rem;
				height: 24rem;
				mask: url('../images/common/img-logo-header-wh.svg') no-repeat center center / contain;
				background-color: #000000;
			}
			.logo-beta { /* 로고 베타 추가 */
				img {
					height: 20rem;
					margin-left: 6rem;
				}
			}
		}

		.header-nav {
			margin-left: auto;
			.nav-list {
				display: flex;
				gap: 32rem;
				.nav-link {
					font-weight: 600;
					font-size: 18rem;
					line-height: 24rem;
					color: #2A2B2D;
					&.is-selected {
						color: $color-primary;
					}
				}
			}
		}
	}
}
.is-scroll-first .header-desktop { /* 3차 수정 : 스크롤 처음일때 투명처리 */
	border-color: transparent;
}

// Header Mobile Nav
.modal.aside-modal {
	.modal-dialog {
		transform: translateX(105%);
		transition-duration: 0.1s;
		.modal-content {
		}
	}
	&.fade {
		transition: opacity .1s linear;
	}
	&.show {
		.modal-dialog {
			transform: translateX(0%);
		}
	}

	.aside-nav-sec {
		/* margin-top: 32rem; 4차 수정 : 전체메뉴 간격 삭제 */
		.aside-logo {
			.logo { /* 4차 수정 : 전체메뉴 로고 추가 (img-logo-header-bk-only.svg 추가) */
				display: block;
				width: 80rem;
				height: 24rem;
				margin-left: 18rem;
				margin-bottom: 30rem;
				background: url("../images/common/img-logo-header-bk-only.svg") no-repeat center center/contain;

				@include media-tablet-xs {
					&:hover { /* 4차 수정 : 전체메뉴 로고 추가 */
						background: url("../images/common/img-logo-header-bk.svg") no-repeat center center/contain;
					}
				}
			}
		}

		.aside-nav {
			.nav-item + .nav-item {
				margin-top: 12rem;
			}
			.nav-link {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 12rem 18rem;
				font-weight: 600;
				font-size: 20rem;
				line-height: 28rem;
				color: #36383A;
				text-align: left;
				&:hover {
					background-color: #EFF0F0;
				}

				.ui-icn {
					margin-right: 8rem;
				}
			}
		}
	}
}

// Section
section   {
	@include out-sec;
	transition: padding 0.2s ease;
	.sec-inner {
		@include in-sec;
		transition: padding 0.2s ease;
	}
}


// Footer
.footer {
	padding-bottom: calc(#{$height-footer} + #{$safe-area-bottom});
	background-color: #111;
	color: #EFF0F0;

	// 푸터 섹션
	.footer-sec {
		display: flex;
		flex-direction: column;
		padding: 28rem 0 32rem 0;
		@include in-sec;

		.logo-area {
			.logo-footer {
				display: block;
				height: 22rem;
				img {
					height: 100%;
				}
			}
		}

		.fnb-area {
			margin-top: 30rem;
			.fnb-list {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 10rem 60rem;

				.fnb-item {
					flex: none;
					min-width: 100rem;

					.ui-btn {
						width: 100re;
						flex: none;
						font-weight: 500;
						font-size: 14rem;
						line-height: 22rem;
					}
				}
			}
		}

		.info-area {
			.info-cont {
				margin-top: 30rem;
				color: #B7B9BA;
				font-size: 11rem;
				line-height: 15rem;
				.info-tit {
					display: block;
					margin-bottom: 6rem;
					font-weight: 700;
				}
				.info-txt {
					font-weight: 500;
					margin-top: 2rem;
				}
				&:nth-child(3) {
					margin-top: 10rem;
				}
			}
		}
	}
}

// 플로팅 메뉴
.floating-menu {
	--btn-size: 54rem;
	--btn-gap: 90rem;
	position: fixed;
	bottom: calc(#{$height-footer} + #{$safe-area-bottom} + var(--btn-gap));
	right: 20rem;
	z-index: 100;
	width: var(--btn-size);
	min-height: var(--btn-size);
	transition: all 0.2s ease;

	> .ui-btn {
		position: relative;
		z-index: 10;
		width: var(--btn-size);
		height: var(--btn-size);
		background-color: #fff;
		border-radius: 50%;
		color: #333;
		box-shadow: 0 0 10rem 0 rgba(0,0,0,0.10);

		.icn-30-floating-close {
			display: none;
		}
		&:active {
			background-color: #EFF0F0;
		}
	}

	.btn-top {
		margin-top: 10rem;
		transition: all 0.2s ease;
	}

	.floating-layer {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: calc(100% + 16rem);
		white-space: nowrap;
		display: flex;
		flex-direction: column;
		pointer-events: none;

		> .ui-btn {
			visibility: hidden;
			gap: 6rem;
			background-color: #fff;
			border-radius: 12rem;
			padding: 10rem 12rem;
			opacity: 0;
			font-weight: 500;
			font-size: 16rem;
			line-height: 22rem;
			color: #36383A;
			transition: all 0.2s ease;
			transform-origin: right bottom;
			&:nth-child(1) {
				transform: translate(0rem, 120rem) scale(0);
			}
			&:nth-child(2) {
				transform: translate(0rem, 60rem) scale(0);
			}
			&:nth-child(3) {
				transform: translate(0rem, 0rem) scale(0);
			}
			&:nth-child(4) {
				transform: translate(0rem, -60rem) scale(0);
			}
			&:active {
				background-color: #EFF0F0;
			}
		}
	}
	&.is-active {
		z-index: 4000;

		.btn-menu {
			.icn-30-floating-logo {
				display: none;
			}
			.icn-30-floating-close {
				display: flex;
			}
		}
		.floating-layer {
			display: flex;
			flex-direction: column;
			gap: 10rem;
			pointer-events: auto;
			.ui-btn {
				visibility: visible;
				opacity: 1;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					transform: translate(0rem, 0rem) scale(1);
				}
			}
		}
	}
}
.floating-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0;
	pointer-events: none;
	&.show {
		opacity: 0.5;
		pointer-events: auto;
	}
}

body.menu-open {
    overflow: hidden;
}
body.is-scroll-first {
	.floating-menu {
		transform: translateY(calc(var(--btn-size) + 10rem));

		.btn-top {
			opacity: 0;
			pointer-events: none;
		}
	}
}
// 플로팅 메뉴

// 플로팅 네비게이션
.floating-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 300;
	width: 100%;
	height: calc(#{$height-footer} + #{$safe-area-bottom});
	min-width: $mobile-inner-content;
	background-color: #fff;
	border-top: 1px solid #EFF0F0;
	// background-color: gray; 세이프존 확인용

	.nav-list {
		display: flex;
		justify-content: space-between;
		padding: 14rem 16rem 18rem 16rem;
		@include in-sec;
		background-color: #fff;
		.nav-item {
			width: 52rem;
			.nav-link {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: 11rem;
				line-height: 15rem;
				color: #B7B9BA;
				letter-spacing: -0.02em;
				font-weight: 500;

				> span {
					margin-top: 5rem;
					white-space: nowrap;
				}

				&:hover,
				&:active,
				&:focus-visible {
					> span {
						font-weight: 600;
						color: #96989B;
					}
				}
				&.is-selected {
					> span {
						font-weight: 600;
						color: $color-primary;
					}
				}

			}
		}
	}
}


// Sub Wrapper
.sub-wrapper {
	.footer {
		padding-bottom: calc(#{$safe-area-bottom}); /* 1차 수정 : 서브 푸터 calc 적용 */
	}
	.floating-menu {
		bottom: calc(#{$safe-area-bottom} + var(--btn-gap));
	}
}

@include media-min-width(550px) {
	.footer {
		.fnb-item {
			min-width: 0 !important;
		}
	}
}
@include media-tablet-xs {
	.wrapper {
		padding-top: $pc-height-header;
		&.only-container {
			padding-top: 0;
		}
	}
	.footer {
		padding-bottom: 0; /* 1차 수정 : 피시 푸터 여백 초기화 */
	}
	.header-mobile {
		margin-top: 30rem;
		margin-bottom: 10rem;
		position: relative;
		box-shadow: none;
		border-bottom: 0; /* 4차 수정 : 피시에서 모바일헤더 라인 삭제 */
		.btn-aside {
			display: none;
		}
		&.only-mo ~ .container .content,
		&.only-mo + .container .content {
			padding-top: calc(#{$pc-bottom-spacer});
		}
	}
	.header-desktop {
		display: block;
	}
	.floating-nav {
		display: none;
	}
	.floating-menu {
		bottom: calc(#{$safe-area-bottom} + var(--btn-gap));
	}

	// 롤호버 적용
	.header-desktop .header-sec .title .logo { /* 3차 수정 : 롤호버 로고 적용 */
		width: 100rem;
		height: 30rem;
		&:hover {
			background: url("../images/common/img-logo-header-bk.svg") no-repeat center center/contain;
			mask: none;
		}
	}
	// .typeB-wrapper .header-desktop {
	// 	background: linear-gradient(to left, #3C239A 4.99%, #7B56FF 95.96%);
	// 	background-color: #3C239A;
	// 	border-bottom: 0;
	// 	.header-sec .header-nav .nav-list .nav-link {
	// 		color: #fff;
	// 	}
	// }
	// .typeB-wrapper .header-desktop .header-sec .title .logo {
	// 	width: 120rem;
	// 	height: 36rem;
	// 	background-color: #fff;
	// 	&:hover {
	// 		background: url("../images/common/img-logo-header-wh.svg") no-repeat center center/contain;
	// 		mask: none;
	// 	}
	// }
}

// Modal Demo Page
.modal-demo-page {
	@include flex-fill-height;
	justify-content: center;
}