@charset 'utf-8';
//-------------------------------------------------------------------
//	@@ Variables
//-------------------------------------------------------------------
// IOS Safe Area Bottom 대응 (웹에서 상단은 필요 없음, 띠의 상하여백 동일한 비율 1.7)
$safe-area-bottom: (env(safe-area-inset-bottom, 0)/1.7);

// 웹폰트
$font-primary: 'Pretendard Variable', 'sans-serif';
$font-secondary: 'YJ_Obang';

// 본문영역 사이즈 (최대 여백포함 768 기준)
$pc-outer-spacer: 23rem;
$pc-inner-content: 720rem;
$pc-bottom-spacer: 48rem;
$mobile-outer-spacer: 16rem;
$mobile-inner-content: 320rem;
$mobile-bottom-spacer: 32rem;

// 공통요소 사이즈
$pc-height-header: 80rem;
$mobile-height-header: 60rem;
$height-footer: 76rem;

// 컬러 강조
$color-primary: #542FDD; // 첫번째
$color-secondary: #2FBE98; // 두번째
$color-point: purple; // 기타 임시값

// 컬러 상태
$color-success: green; // 성공 임시값
$color-fail: #FD4A4A; // 실패
$color-complete: skyblue; // 완료 임시값
$color-error: #FD4A4A; // 에러
$color-warning: orange; // 경고 임시값
$color-caution: orange; // 주의 임시값
$color-danger: orange; // 위험 임시값

// 컬러 아이템
$color-item-best: #7762FF; // 베스트
$color-item-recom: #E5446D; // 추천
$color-item3: #E5446D; // 추천

// 그림자
$box-shadow-10: 0rem 4rem 10rem 0 rgba(0,0,0,0.08);
$box-shadow-16: 0rem 3rem 16rem 0 rgba(0,0,0,0.08);


//-------------------------------------------------------------------
//	@@ Mixins System
//-------------------------------------------------------------------
/* 피시전용 hover 스타일 대용 */
@mixin pc-hover {
	@media (hover: hover) and (pointer: fine) {
		@content;
	}
}

/* 모바일전용 hover 스타일 대응 */
@mixin mobile-hover {
	@media (hover: none) and (pointer: coarse) {
		@content;
	}
}
//-------------------------------------------------------------------
//	@@ Mixins Layout
//-------------------------------------------------------------------
// 섹션 안쪽 여백
@mixin in-spacer {
	padding-left: $mobile-outer-spacer;
	padding-right: $mobile-outer-spacer;
	@include media-tablet-xs {
		padding-left: $pc-outer-spacer;
		padding-right: $pc-outer-spacer;
	}
}

// 하단 여백
@mixin bottom-spacer {
	padding-bottom: $mobile-bottom-spacer;
	@include media-tablet-xs {
		padding-bottom: $pc-bottom-spacer;
	}
}

// 모달 하단여백
@mixin modal-spacer {
	.modal-body {
		padding-bottom: 16rem;
		margin-bottom: 8rem;
	}
	.modal-footer {
		padding-top: 20rem;
		padding-bottom: 24rem;
	}
}

// 바깥 섹션
@mixin out-sec {
	min-width: $mobile-inner-content;
	@include in-spacer;
	transition: padding 0.2s ease;
}

// 안쪽 섹션
@mixin in-sec {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: $pc-inner-content;
}

// 높이 채우기 레이아웃
@mixin flex-fill-height {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
}

//-------------------------------------------------------------------
//	@@ Mixins Common
//-------------------------------------------------------------------
// 섹션
@mixin sec-basic {
	.sec-header {
		position: relative;
		margin-bottom: 16rem;

		.sec-label {
			display: inline-block;
			margin-bottom: 8rem;
			padding: 4rem 8rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 18rem;
			background-color: #EAE6FB;
			border-radius: 2rem;
			color: $color-primary;
		}
		.sec-tit {
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 20rem;
			line-height: 24rem;
			color: #2A2B2D;
			.ui-icn {
				margin-right: 4rem;
			}
		}
		.sec-explain {
			margin-top: 4rem;
			font-weight: 600;
			font-size: 14rem;
			color: #63666A;
		}
		.btn-more {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

@mixin tab-sec-basic {
	margin-bottom: 60rem;

	.sec-header {
		margin-bottom: 14rem;
		.sec-tit {
			font-weight: 700;
			font-size: 14rem;
			line-height: 20rem;
			color: #2A2B2D;
		}
	}
}

@mixin floating-sec {
	position: sticky;
	bottom: 0;
	display: flex;
	align-items: center;
	flex:none;
	padding-top: 20rem;
	padding-bottom: 32rem;
	margin-bottom: -32rem; // 공간은 차지하지만 간격은 영향주지 않는다.
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0rem, rgba(255, 255, 255, 1) 20rem);
}

// 구분선
@mixin split-set($height, $color){
	content:'';
	display: block;
	width: 1px;
	height: $height;
	background-color: $color;
}

@mixin ellipsis1 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin ellipsis2 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@mixin ellipsis3 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

// 그림자
@mixin box-shadow-16 {
	box-shadow: $box-shadow-16;
	border-radius: 2rem;
}

@mixin box-shadow-10 {
	box-shadow: $box-shadow-10;
	border-radius: 2rem;
}

//-------------------------------------------------------------------
//    Mixins Content
//-------------------------------------------------------------------
// 요금제 카테고리 목록
@mixin ratePlanA-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12rem;

	@include media-tablet-xs {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

// 요금제 카테고리 카드
@mixin ratePlanA-card {
	padding: 16rem 12rem;
	background-color: #fff;
	@include box-shadow-10;

	.card-thumb {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 40rem;
			height: 40rem;
		}
	}
	.card-body {
		text-align: center;
		margin-top: 12rem;

		.card-tit {
			font-weight: 700;
			font-size: 14rem;
			line-height: 20rem;
			color: #46484B;
		}
		.card-tag {
			margin-top: 2rem;
			font-weight: 500;
			font-size: 12rem;
			line-height: 16rem;
			color: #5A5D60;
		}

		.card-charge {
			margin-top: 12rem;
			font-weight: 600;
			font-size: 16rem;
			line-height: 22rem;
			color: #7C5FE5;
		}

		.card-data {
			margin-top: 2rem;
			font-weight: 700;
			font-size: 20rem;
			line-height: 28rem;
			color: $color-primary;
			vertical-align: top;
		}
	}
}

// 선택 요금제 카드
@mixin ratePlanB-card {
	position: relative;
	padding: 16rem;
	padding-right: 156rem;
	border-radius: 2rem;
	background-color: #EAE6FB;
	.card-img {
		position: absolute;
		right: 16rem;
		bottom: calc(50% - 40rem);
		width: 80rem;
		height: 80rem;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.card-tit {
		position: relative;
		margin-top: 4rem;
		font-weight: 600;
		font-size: 18rem;
		line-height: 24rem;
		color: #000000;

	}
	.card-txt {
		position: relative;
		margin-top: 4rem;
		font-weight: 500;
		font-size: 14rem;
		line-height: 20rem;
		color: #46484B;
	}
	.card-tag {
		margin-top: 18rem;
		position: relative;
		display: flex;
		gap: 4rem;
		.tag {
			padding:  2rem 7rem 1rem 7rem;
			border-radius: 12rem;
			border: 1px solid #CDC2F5;
			font-weight: 500;
			font-size: 12rem;
			line-height: 17rem;
			color: $color-primary;
		}
	}
}

// 요금제 상품 목록
@mixin ratePlanC-list {
	display: flex;
	flex-wrap: wrap;
	gap: 16rem;
	padding-top: 16rem;

	.ratePlanC-item {
		width: 100%;
	}
}

// 요금제 상품 목록 카드
@mixin ratePlanC-card {
	padding: 0 15rem;
	@include box-shadow-16;
	border:1px solid transparent;

	.card-body {
		position: relative;
		padding: 16rem 0;
		.card-button {
			position: absolute;
			left: -16rem;
			right: -16rem;
			top: 0;
			bottom: 0;
			z-index: 1;
		}
	}
	.card-footer {
		padding: 12rem 0 20rem;
		border-top: 1px solid #EFF0F0;
	}
	.card-label {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10rem;
		&-benefit {
			display: flex;
			align-items: center;
			gap: 4rem;
			.label {
				padding: 2rem 8rem;
				border-radius: 4rem;
				font-weight: 500;
				font-size: 12rem;
				line-height: 16rem;
				color: #fff;
				&.primary {
					background-color: $color-primary;
				}
				&.secondary {
					background-color: $color-secondary;
				}
			}
		}
		&-option {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 6rem;
			.split {
				display: inline-block;
				width: 3rem;
				height: 3rem;
				border-radius: 50%;
				background-color: #CDC2F5;
			}
			.label {
				display: inline-flex;
				align-items: center;
				font-weight: 600;
				font-size: 12rem;
				line-height: 16rem;
				color: $color-primary;
				.ui-ico {
					margin-right: 2rem;
				}
			}
		}
	}
	.card-tit {
		display: flex;
		font-weight: 700;
		font-size: 20rem;
		color: #000;
		.ui-btn {
			z-index: 10;
			margin-left: 8rem;
		}
	}
	.card-info {
		display: flex;
		align-items: center;
		gap: 6rem;
		margin-top: 8rem;
		padding: 2rem 0;

		.split {
			display: inline-block;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background-color: #CFD0D1;
		}

		.label {
			display: inline-flex;
			align-items: center;
			color: #494949;
			font-weight: 500;
			font-size: 12rem;
			line-height: 12rem;
			.ui-icn {
				margin-right: 4rem;
			}
		}
	}
	.card-charge {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.brand {
			display: flex;
			align-items: center;
			height: 25rem;
			gap: 4rem;
			img {
				height: 100%;
			}
			.brand-rating {
				display: inline-flex;
				align-items: center;
				padding: 3rem 8rem 3rem 4rem;
				border:1px solid #CDC2F5;
				border-radius: 15rem;
				color: $color-primary;
				font-weight: 500;
				font-size: 12rem;
				line-height: 14rem;
			}
		}
		.charge {
			position: relative;
			top: 2rem;
			text-align: right;

			.charge-tit {
				font-weight: 700;
				font-size: 16rem;
				line-height: 22rem;
				color: #1B0179;
			}
			.charge-txt {
				margin-top: 2rem;
				font-weight: 500;
				font-size: 12rem;
				line-height: 16rem;
				color: #828588;
			}
		}
	}
	.card-util {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-tooltip {
			display: flex;
			align-items: center;
			gap: 4rem;
			.tit {
				font-weight: 700;
				font-size: 14rem;
				line-height: 16rem;
			}
		}
		&-btn {
			display: flex;
			align-items: center;
			gap: 12rem;
		}
	}
	.card-status {
		margin-top: 16rem;
		padding: 11rem 16rem;
		background-color: #F4F5F8;
		border-radius: 2rem;
		.status-gift {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.tit {
				display: block;
				flex: 1 1 auto;
				overflow: hidden;
				font-weight: 600;
				font-size: 12rem;
				line-height: 16rem;
				color: #000000;
				@include ellipsis1;
				em {
					color: $color-primary;
				}
			}
			.ui-btn {
				margin-left: auto;
			}
			.status-gift-list {
				display: flex;
				flex-direction: column;
				gap: 8rem;

				li {
					position: relative;
					width: 100%;
					padding-left: 20rem;
					font-weight: 500;
					font-size: 12rem;
					line-height: 16rem;
					color: #36383A;

					.ui-icn {
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}

			// 인터렉션
			.status-gift-expanded {
				display: none;
				width: 100%;
				margin-top: 4rem;
			}
			&.is-expanded {
				.tit {
					display: none;
				}
				.status-gift-expanded {
					display: block;
				}
			}
		}
		.status-choice {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.choice {
				display: flex;
				align-items: center;

				.ui-icn:first-child {
					margin-right: 4rem;
				}
				.txt {
					font-weight: 600;
					font-size: 12rem;
					line-height: 16rem;
					color: #36383A;
					em {
						color: $color-primary;
					}
				}
				.split {
					@include split-set(10rem, #CFD0D1);
					margin: 0 8rem;
				}

			}

			.ui-btn {
				align-items: center;
				font-weight: 600;
				font-size: 12rem;
				line-height: 14rem;
				color: #828588;
			}

		}
	}
	.card-buyinfo {
		margin-top: 32rem;
		.buyinfo-con {
			text-align: center;
			dt {
				font-weight: 700;
				font-size: 16rem;
				line-height: 22rem;
				color: #000;
			}
			dd {
				margin-top: 6rem;
				font-weight: 600;
				font-size: 14rem;
				line-height: 20rem;
				color: #36383A;
			}
		}
	}

	// 상위 3개 베스트 요금제
	&.plan-best {
		border-color: $color-primary;
		.card-best {
			background: linear-gradient(90deg, #6039EE 0%, #3A1EA2 100%);
			padding: 6rem 11rem;
			margin: 0 -15rem;
			// border-radius: 2rem 2rem 0 0;
			border-bottom: 1px solid transparent;
			p {
				display: flex;
				gap: 4rem;
				color: #fff;
				font-weight: 500;
				font-size: 12re,;
				line-height: 18rem;
			}
		}
	}
}

// 요금제 상품 상세 목록
@mixin ratePlanD-list {
	display: flex;
	flex-wrap: wrap;
	gap: 16rem;
	padding-top: 16rem;

	.ratePlanD-item {
		width: 100%;
	}
}

// 요금제 상품 상세 카드
@mixin ratePlanD-card {
	position: relative;
	padding: 0 16rem;
	@include box-shadow-10;
	.card-button {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}
	.card-body {
		padding: 16rem 0 20rem 0;
	}
	.card-footer {
		padding: 8rem 0 12rem 0;
		border-top: 1px solid #EFF0F0;
	}
	.card-opening {
		display: inline-flex;
		position: absolute;
		top: 0;
		right: 16rem;
		height: 24rem;
		align-items: center;
		justify-content: center;
		padding: 0 6rem;
		font-weight: 500;
		font-size: 12rem;
		font-style: 16rem;
		color: #5FCDB0;
		border-radius: 0 0 2rem 2rem;
		background-color: #E6F7F2;
	}
	.card-state {
		margin-bottom: 4rem;
		font-weight: 500;
		font-size: 12rem;
		&.is-current {
			color: #2801B5;
		}
	}
	.card-label {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		gap: 6rem;
		.split {
			display: inline-block;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background-color: #CDC2F5;
		}
		.label {
			display: inline-flex;
			align-items: center;
			font-weight: 600;
			font-size: 12rem;
			line-height: 16rem;
			color: $color-primary;
			.ui-icn {
				margin-right: 2rem;
			}
		}
	}

	.card-tit {
		font-weight: 600;
		font-size: 20rem;
		color: #000;
	}
	.card-info {
		display: flex;
		align-items: center;
		gap: 6rem;
		margin-top: 8rem;
		padding: 2rem 0;

		.split {
			display: inline-block;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background-color: #CFD0D1;
		}

		.label {
			display: inline-flex;
			align-items: center;
			color: #494949;
			font-weight: 500;
			font-size: 12rem;
			line-height: 12rem;
			.ui-icn {
				margin-right: 4rem;
			}
		}
	}
	.card-charge {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.brand {
			height: 28rem;
			img {
				height: 100%;
			}
		}
		.charge {
			position: relative;
			top: 2rem;
			text-align: right;

			.charge-tit {
				font-weight: 700;
				font-size: 16rem;
				line-height: 22rem;
				color: #1B0179;
			}
		}
	}
}

// 추천 요금제 목록
@mixin recom-list {
	display: flex;
	flex-direction: column;
	gap: 10rem;
	.recom-item {
		width: 100%;
	}
}

// 추천 요금제 배너
@mixin recom-bnr {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 17rem 16rem;
	border-radius: 2rem;
	background-color: #F2F5FB;
	.recom-con {
		flex:1 1 auto;
		display: flex;
		flex-direction: column;
		margin-right: auto;
		margin-left: 17rem;
		text-align: left;
		.tit {
			display: block;
			width: 100%;
			font-weight: 700;
			font-size: 16rem;
			line-height: 19rem;
			color: #2A2B2D;
		}
		.txt {
			display: block;
			width: 100%;
			margin-top: 4rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 17rem;
			color: #63666A;
		}
	}
}

// 특별한 이벤트 목록
@mixin special-event-list {
	display: flex;
	flex-direction: column;
	gap: 12rem;

	.special-event-item {
		width: 100%;
	}
}

// 특별한 이벤트 배너
@mixin special-event-bnr {
	width: 100%;

	img {
		width: 100%;
		border-radius: 2rem;
		vertical-align: top;
	}
}

// 이벤트 스와이프
@mixin event-swiper {
	.swiper-pagination {
		position: static;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 8rem;
		gap: 4rem;
		&-bullet {
			width: 6rem;
			height: 6rem;
			margin: 0;
			border-radius: 3rem;
			background-color: #EFF0F0;
			opacity: 1;
			transition: all 0.2s ease;
			&-active {
				width: 12rem;
				background-color: $color-primary;
			}
		}
	}

}

// 이벤트 배너
@mixin event-bnr {
	width: 100%;

	img {
		width: 100%;
		border-radius: 2rem;
		vertical-align: top;
	}
}

// 리뷰 목록(리뷰 관리)
@mixin review-list {
	display: flex;
	flex-direction: column;
	gap: 16rem;
	padding-top: 16rem;

	.review-item {
		width: 100%;
	}
}

@mixin review-card {
	padding: 0 16rem;
	@include box-shadow-16;

	.card-body {
		display: flex;
		flex-wrap: wrap;
		padding:16rem 0;

		.card-label {
			display: inline-flex;
			margin-right: auto;
			background-color: #EFF0F0;
			padding: 4rem 8rem;
			border-radius: 4rem;
			font-weight: 500;
			font-size: 12rem;
			line-height: 16rem;
			color: #63666A;
			&.is-written { /* 1차 수정: is-written 로 변경 */
				background-color: #EAE6FB;
				color: $color-primary;
			}
		}
		.card-remove {
			margin-left: auto;
		}
		.card-cont {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 52rem;
			margin-top: 10rem;
			padding-left: calc(52rem + 12rem);
			.card-brand {
				position: absolute;
				left: 0;
				top: 0;
				flex: none;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 52rem;
				height: 52rem;
				border-radius: 50%;
				background-color: #F4F2FD;
				img {
					width: 44rem;
					height: auto;
				}
			}
			.card-title {
				display: block;
				width: 100%;
				font-weight: 700;
				font-size: 16rem;
				line-height: 22rem;
				color: #000;
				@include ellipsis1;
			}
			.card-date {
				margin-top: 2rem;
				font-weight: 500;
				font-size: 14rem;
				line-height: 20rem;
				color: #5A5D60;
			}
		}
	}
	.card-footer {
		border-top: 1px solid #EFF0F0;
		padding: 16rem 0 24rem;

		// 작성완료
		.card-written {
			display: flex;
			flex-wrap: wrap;

			.written-sat {
				display: inline-flex;
				align-items: center;
				margin-right: auto;
				.ui-icn {
					margin-right: 7rem;
				}
				.val {
					font-weight: 700;
					font-size: 22rem;
					line-height: 30rem;
				}
			}

			.written-mod {
				margin-left: auto;
				padding: 3rem 9rem;
				border:1px solid #CFD0D1;
				border-radius: 4rem;
				font-weight: 600;
				font-size: 12rem;
				line-height: 17rem;
				color: #828588;
			}

			.written-cont {
				margin-top: 10rem;
				width: 100%;
				font-weight: 500;
				font-size: 14rem;
				line-height: 20rem;
				color: #46484B;
				white-space: pre-line;
			}
		}

		// 작성대기
		.card-wait {
			.wait-rating {
				.rating-tit {
					font-weight: 500;
					font-size: 14rem;
					line-height: 20rem;
					color: $color-primary;
					text-align: center;
				}
				.rating-star {
					display: flex;
					justify-content: center;
					gap: 6rem;
					margin: 6rem auto 0;
				}
			}
			.wait-frm {
				margin-top: 24rem;
				.ui-textarea {
					height: 115rem;
				}
			}
			.wait-action {
				margin-top: 16rem;
			}
		}
	}
}

// 리뷰 목록(전체공통)
@mixin review-list-02 {
	margin-left: calc(#{$mobile-outer-spacer} * -1);
	margin-right: calc(#{$mobile-outer-spacer} * -1);
	.review-item {
		border-bottom: 1px solid #EFF0F0;
	}
	@include media-tablet-xs {
		margin-left: 0;
		margin-right: 0;
	}
}

// 리뷰 카드(전체공통)
@mixin review-card-02 {
	display: flex;
	flex-wrap: wrap;
	padding: 14rem $mobile-outer-spacer;

	.review-name {
		margin-right: 10rem;
		font-weight: 700;
		font-size: 14rem;
		line-height: 16rem;
	}

	.review-sat {
		display: inline-flex;
		gap: 4rem;
		align-items: center;
		.val {
			font-weight: 500;
			font-size: 14rem;
			line-height: 16rem;
			color: #46484B;
		}
	}

	.review-con {
		margin-top: 8rem;
		font-weight: 500;
		font-size: 14rem;
		line-height: 20rem;
		max-height: 60rem;
		@include ellipsis3;
	}

	@include media-tablet-xs {
		padding-left: 0;
		padding-right: 0;
	}
}

// 추천내역 목록
@mixin recom-history-list {
	display: flex;
	flex-wrap: wrap;
	gap: 12rem;
	padding-top: 16rem;

	.recom-history-item {
		width: 100%;
		@include media-tablet-xs {
			width: calc(50% - 6rem);
		}
	}
}

// 추천내역 카드
@mixin recom-history-card {
	padding: 20rem 16rem;
	@include box-shadow-16;

	.card-body {
		display: flex;
		flex-wrap: wrap;
		.card-name {
			flex:1 1 auto;
			max-width: calc(100% - 140rem);
			font-weight: 700;
			font-size: 18rem;
			line-height: 24rem;

			.num {
				color: $color-primary;
			}
			.name {
				color: #000;
			}
		}
		.card-date {
			display: inline-flex;
			justify-content: flex-end;
			align-items: center;
			margin-left: auto;
			max-width: 140rem;
			padding-top: 4rem;
			text-align: right;
			.txt {
				margin-right: 4rem;
				font-weight: 500;
				font-size: 12rem;
				line-height: 16rem;
				color: #828588;
			}
			.date {
				font-weight: 600;
				font-size: 14rem;
				line-height: 20rem;
			}
		}

		.card-title {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 12rem;
			padding: 12rem 16rem;
			border-radius: 2rem;
			background-color: #EFF0F0;
			.type {
				flex: none;
				font-weight: 500;
				font-size: 14rem;
				line-height: 20rem;
				color: #63666A;
			}
			.title {
				font-weight: 600;
				list-style: 14rem;
				line-height: 20rem;
				color: #2A2B2D;
			}
		}
	}
}

// noData 섹션
@mixin nodata-sec {
	@include flex-fill-height;
	.sec-inner {
		@include flex-fill-height;
	}
}

// noData
@mixin nodata {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 328rem;
	margin-left: auto;
	margin-right: auto;
	padding: 60rem 16rem;

	.ui-icn {
		margin-bottom: 8rem;
	}
	.nodata-tit {
		font-weight: 700;
		font-size: 16rem;
		line-height: 24rem;
		color: #36383A;
	}
	.nodata-txt {
		font-weight: 500;
		font-size: 14rem;
		line-height: 20rem;
		color: #5A5D60;
	}
	.nodata-tit + .nodata-txt {
		margin-top: 4rem;
	}
}

// 등록 폼
@mixin basic-frm {
	display: flex;
	flex-direction: column;
	gap: 32rem;

	.frm-field {
		display: flex;
		flex-direction: column;
		gap: 10rem;
		width: 100%;

		.frm-title {
			.tit {
				font-weight: 600;
				font-size: 16rem;
				line-height: 22rem;
				color: #000;
			}
		}
	}
}

// 문의 답변
@mixin inq-accordion {
	margin: -20rem 0;

	// 아코디언 필수
	.collapsing {
		height: 0;
		overflow: hidden;
		transition: height .35s ease;
	}
	.collapse:not(.show) {
		display: none;
	}
	.accordion-button .ui-icn {
		transition: transform .35s ease;
	}
	.accordion-button[aria-expanded='true'] .ui-icn {
		transform: rotate(180deg);
	}

	// 아코디언 스타일
	.acco-item {
		padding: 20rem 0;
		border-top: 1px solid #EFF0F0;
	}
	.acco-header {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		.acco-tit {
			max-width: calc(100% - 66rem);
			margin-right: auto;
			font-weight: 600;
			font-size: 16rem;
			line-height: 22rem;
			color: #2A2B2D;
			@include ellipsis1;
		}
		.acco-date {
			flex: none;
			margin-left: auto;
			padding-top: 2rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 20rem;
			color: #96989B;
		}
		.acco-con {
			width: 100%;
			margin-top: 10rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 20rem;
			color: #5A5D60;
		}
		.acco-info {
			display: flex;
			align-items: center;
			gap: 8rem;
			margin-top: 16rem;
			font-weight: 600;
			font-size: 14rem;
			line-height: 20rem;
			color: #96989B;
			.split {
				@include split-set(10rem, #CFD0D1);
			}
			.state {
				&.is-received,
				&.is-answered {
					color: $color-primary;
				}
			}
		}
		.acco-button {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	.acco-body {
		margin-top: 16rem;
		.acco-answer {
			background-color: #F4F4F4;
			padding: 16rem;
			font-weight: 500;
			font-size: 14rem;
			line-height: 20rem;
			color: #2A2B2D;
		}
	}
}

// 모통봇 소개 섹션
@mixin cb-intro-sec {
	padding-top: 20rem;
	.intro-img {
		width: 62rem;
		img {
			width: 100%;
		}
	}
	.intro-con {
		margin-top: 12rem;
		p {
			font-weight: 600;
			font-size: 20rem;
			line-height: 28rem;
			color: #000;
			em {
				color: $color-primary;
			}
		}
	}
}

@mixin  cb-selection-sec {
	margin-top: 60rem;
	.selection-tit {
		margin-top: -20rem;
		margin-bottom: 12rem;
		font-weight: 600;
		font-size: 20rem;
		line-height: 28rem;
		color: #000;
	}

	.selection-frm {
		display: flex;
		gap: 12rem;

		.selection-rdo {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 36rem 18rem;
			width:calc(50% - 6rem);
			border: 1px solid #EFF0F0;
			border-radius: 2rem;
			cursor: pointer;

			img {
				width: 86rem;
			}

			.ui-rdo {
				margin-top: 18rem;
				.rdo::before,
				.rdo::after,
				input {
					display: none;
				}
				.rdo {
					text-align: center;
					span {
						display: block;
						padding-left: 0;
						font-size: 14rem;
						line-height: 20rem;
						word-break: keep-all;
						color: #5A5D60;
						text-align: center;
						em {
							display: block;
							margin-bottom: 4rem;
							font-weight: 700;
						}
					}
				}
			}
			&.is-selected {
				border-color: $color-primary;
				background-color: #EAE6FB;
				.ui-rdo .rdo span {
					color: $color-primary;
				}
			}
		}
	}
}

// 설문 셀렉션
@mixin survey-list {
	.survey-item + .survey-item {
		margin-top: 12rem;
	}
	.survey-rdo {
		display: flex;
		width: 100%;
		.rdo::before,
		.rdo::after,
		input {
			display: none;
		}

		.rdo {
			display: block;
			width: 100%;
			padding: 15rem 19rem;
			border:1px solid #EFF0F0;
			border-radius: 4rem;
			span {
				display: block;
				padding-left: 0;
				font-weight: 500;
				font-size: 16rem;
				line-height: 22rem;
				color: #46484B;
			}
		}
		input:checked + .rdo {
			border-color: $color-primary;
			background-color: #EAE6FB;
			span {
				color: $color-primary
			}
		}
	}
}

// 가이드박스
@mixin noti-box {
	padding: 20rem 16rem;
	border-radius: 2rem;
	background-color: #f4f4f4;
	.box-tit {
		margin-bottom: 12rem;
		font-weight: 700;
		font-size: 14rem;
		line-height: 20rem;
	}
	.box-list {
		li {
			position: relative;
			padding-left: 18rem;
			font-weight: 500;
			font-size: 12rem;
			line-height: 16rem;
			color: #63666A;
			word-break: keep-all;
			&::before {
				content:'';
				display: block;
				position: absolute;
				left: 6rem;
				top: 6rem;
				width: 3rem;
				height: 3rem;
				border-radius: 50%;
				background-color: #63666A;
			}
			& + li {
				margin-top: 6rem;
			}
		}
	}

	// Expand
	.box-header {
		position: relative;
		padding-right: 20rem;

		.box-title {
			font-weight: 700;
			font-size: 16rem;
			line-height: 22rem;
			color: #000;
		}
		.box-expand {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			&[aria-expanded="true"] {
				.ui-icn {
					transform: rotate(180deg);
				}
			}
		}
	}
	.box-header + .box-body {
		margin-top: 16rem;
	}
	.box-body.is-hide {
		display: none;
	}
}

// s: 유심구매 안내 섹션
@mixin usimBuy-intro-sec {
	padding-top: 10rem;

	.intro-box {
		display: flex;
		align-items: center;
		gap: 8rem;
		padding: 16rem;
		padding-left: 0;
		border-radius: 10rem;
		background-color: #F4F5F8;
		.intro-img {
			flex: none;
			width: 80rem;
			height: 80rem;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.intro-con {
			flex:1 1 auto;
			.tit {
				width: 100%;
				font-weight: 700;
				font-size: 14rem;
				line-height: 20rem;
				color: #2A2B2D;
				em {
					color: $color-primary;
				}
			}
			.txt {
				margin-top: 10rem;
				font-weight: 500;
				font-size: 14rem;
				line-height: 20rem;
				color: #5A5D60;
			}
		}
	}
}
// e: 유심구매 안내 섹션


// s: 어디서 구매하나요 섹션
@mixin usimBuy-store-sec {
	margin-top: 30rem;
	@include sec-basic;

	.usim-img {
		width: 100%;
		height: 212rem;
		text-align: center;
		img {
			max-width: 100%;
			height: 100%;
			vertical-align: top;
		}
	}

	.usim-msg {
		p {
			font-weight: 700;
			font-size: 18rem;
			line-height: 24rem;
			text-align: center;
		}
	}

	// 구매 스토어
	.usim-store-list {
		margin-top: 12rem;
		.usim-store-item + .usim-store-item {
			margin-top: 10rem;
		}
	}

	.usim-store-card {
		padding: 16rem;
		border-radius: 10rem;
		background-color: #F4F5F8;
		.card-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.title {
				font-weight: 600;
				font-size: 16rem;
				line-height: 22rem;
				color: #2A2B2D;
				word-break: keep-all;
			}
			.btn-sub {
				width: 90rem;
				margin-left: auto;
			}
		}
		.card-info {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 10rem;
			font-weight: 500;
			font-size: 12rem;
			line-height: 16rem;
			color: #63666A;
			.info-txt {
				width: 100%;
			}
			.split {
				margin: 0 6rem;
				@include split-set(10rem, #CFD0D1);
			}
			.ui-btn {
				margin-left: 2rem;
			}
		}
		@include media-tablet-xs {
			.card-title {
				.title {
					br {
						display: none;
					}
				}
			}
		}
	}
}
// e: 어디서 구매하나요 섹션

// s: 인터넷 결합 설문 목록
@mixin choice-list {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	gap: 12rem;

	@include media-tablet-xs {
		grid-template-columns: 1fr 1fr 1fr !important;
	}
}
// e: 인터넷 결합 설문 목록

// s: 인터넷 결합 설문 라디오
@mixin choice-rdo {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: #F4F5F8;
	border-radius: 4rem;
	padding: 20rem;
	border: 1px solid transparent;
	/* 1차 수정: IOS 호환성 대응 */
	input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		pointer-events: none;
	}
	.choice-con {
		position: relative;
		z-index: 10;
		display: block;
		width: 100%;
		img {
			height: 40rem;
		}
		.tit {
			display: block;
			font-weight: 600;
			font-size: 18rem;
			line-height: 24rem;
			color: #2A2B2D;
		}
		.txt {
			display: block;
			font-weight: 500;
			font-size: 16rem;
			line-height: 20rem;
			color: #63666A;
		}
	}

	&.is-selected {
		background-color: #fff;
		border-color: $color-primary;
	}
}
// e: 인터넷 결합 설문 라디오

// s: 자주묻는 질문
@mixin faq-accordion {
	margin: 0 calc(#{$mobile-outer-spacer} * -1);
	margin-top: -14rem;

	.collapsing {
		height: 0;
		overflow: hidden;
		transition: height .35s ease;
	}
	.collapse:not(.show) {
		display: none;
	}
	.acco-button .ui-icn {
		transition: transform .35s ease;
	}
	.acco-button[aria-expanded='true'] .ui-icn {
		transform: rotate(180deg);
	}

	// 아코디언 스타일
	.acco-item {
		padding: 14rem $mobile-outer-spacer;
		border-bottom: 1px solid #EFF0F0;
	}
	.acco-header {
		position: relative;

		.acco-button {
			display: flex;
			align-items: center;
			width: 100%;
			text-align: left;
			padding-right: 24rem;
			> span {
				position: relative;
				display: block;
				padding-left: 16rem;
				font-weight: 600;
				font-size: 14rem;
				line-height: 20rem;
				max-height: 40rem;
				@include ellipsis2;
				em {
					position: absolute;
					left: 0;
					top: 0;
					color: #542FDD;
				}
			}
			.ui-icn {
				position: absolute;
				right: 0;
				top: calc(50% - 8rem);
			}
		}
	}

	.acco-body {
		margin-top: 16rem;
		.acco-answer {
			font-weight: 500;
			font-size: 14rem;
			line-height: 20rem;
			color: #46484B;

			ol {
				display: flex;
				flex-direction: column;
				gap: 4rem;
				font-size: 12rem;
				line-height: 16rem;
				margin-top: 8rem;
				margin-bottom: 8rem;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
				li {
					position: relative;
					counter-increment: item;
					padding-left: 12rem;
					&::before {
						content: counter(item) ". ";
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
		}
	}
	@include media-tablet-xs {
		margin: 0;
	}
}
// e: 자주묻는 질문

// s: 알뜰폰 개통 방법
@mixin account-sol-sec {
	margin-top: 30rem;

	.sec-tit {
		font-weight: 600;
		font-size: 16rem;
		line-height: 22rem;
		color: #000;
		text-align: center;
	}
	.ui-tab {
		display: flex;
		justify-content: center;
		margin-top: 16rem;
		.tab-list {
			width: 268rem;
		}
	}
	.tab-content {
		height: auto;
		overflow: hidden;
		margin-top: 16rem;
		padding-bottom: 0;
	}
	.solution-steps {
		padding: 20rem;
		border-radius: 4rem;
		background-color: #F4F5F8;
		li {
			display: flex;
			font-weight: 500;
			font-size: 14rem;
			line-height: 20rem;
			color: #46484B;
			& + li {
				margin-top: 26rem;
				.num::after {
					content:'';
					position: absolute;
					left: calc(50% - 1px);
					bottom: calc(100% + 4rem);
					display: block;
					width: 2rem;
					height: 18rem;
					background: url('../images/common/line-18-step.svg') no-repeat center center;
				}
			}
			.num {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 24rem;
				height: 24rem;
				margin-right: 10rem;
				border-radius: 50%;
				background-color: #CDC2F5;
				font-weight: 700;
				font-size: 14rem;
				line-height: 20rem;
				color: #542FDD;
			}
			strong {
				font-weight: 700;
			}
		}
	}
}
// e: 알뜰폰 개통 방법

// s: 약관
@mixin terms-content {
	color: #2A2B2D;
	margin-top: 24rem;
	&:first-child {
		margin-top: 0;
	}
	.terms-title {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 16rem;

		h2 {
			font-weight: 700;
			font-size: 20rem;
			line-height: 28rem;
			color: #000;
		}
		.ui-sel {
			margin-top: 8rem;
		}
		@include media-tablet-xs {
			align-items: center;
			.ui-sel {
				width: 200rem;
				margin-top: 0rem;
				margin-left: auto;
			}
		}
	}
	h3 {
		margin-top: 30rem;
		margin-bottom: 4rem;
		font-weight: 600;
		font-size: 16rem;
		line-height: 24rem;
		color: #000;
	}
	ol {
		> li {
			position: relative;
			counter-increment: item;
			padding-left: 12rem;
			& + li {
				margin-top: 8rem;
			}
			&::before {
				content: counter(item) ". ";
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		ul {
			> li {
				position: relative;
				padding-left: 12rem;
				color: #46484B;
				&::before {
					content: '-';
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	dl {
		dt {
			margin-bottom: 4rem;
			font-weight: 600;
		}
		dt ~ dt {
			margin-top: 8rem;
		}
	}
	.terms-tbl {
		border-top: 1px solid #46484B;
		th, td {
			padding: 8rem 10rem;
		}
		th {
			padding: 8rem 0;
			font-weight: 600;
			background-color: #f1f3f5;
		}
		td {
			border-bottom: 1px solid #f1f3f5;
		}
	}
	p + .terms-tbl,
	p + ol,
	ol + p,
	dl + p,
	p + dl {
		margin-top: 16rem;
	}
}
// e: 약관