@charset 'utf-8';
//-------------------------------------------------------------------
//    Variables
//-------------------------------------------------------------------
// 레이아웃 프레임
$height-header: 90px;
$padding-sidespacer: 25rem;

// 컬러 맥락
$color-tit: #222; // 제목 임시값
$color-body: #444; // 내용 (body 기본값으로 사용)
$color-info: #999; // 안내 임시값

// 컬러 강조
$color-primary: skyblue; // 첫번째 임시값
$color-secondary: orange; // 두번째 임시값
$color-point: purple; // 기타 임시값

// 컬러 상태
$color-success: green; // 성공 임시값
$color-fail: #ff0000; // 실패 임시값
$color-complete: skyblue; // 완료 임시값
$color-error: #ff0000; // 에러 임시값
$color-warning: orange; // 경고 임시값
$color-caution: orange; // 주의 임시값
$color-danger: orange; // 위험 임시값

// 컬러 아이템
$color-item1: green; // item1 임시값
$color-item2: burlywood; // item2 임시값
$color-item3: coral; // item3 임시값

//-------------------------------------------------------------------
//    Mixins
//-------------------------------------------------------------------
// 폰트규칙
@mixin font-body-10 {
	font-size: 10px;
	line-height: 14px;
}

@mixin font-body-11 {
	font-size: 11px;
	line-height: 15px;
}

@mixin font-body-12 {
	font-size: 12px;
	line-height: 18px;
}

@mixin font-body-13 {
	font-size: 13px;
	line-height: 19px;
}

@mixin font-body-14 {
	font-size: 14px;
	line-height: 22px;
}