@charset 'utf-8';
//-------------------------------------------------------------------
//    Variables
//-------------------------------------------------------------------
// IOS Safe Area Bottom 대응 (웹에서 상단은 필요 없음, 띠의 상하여백 동일한 비율 1.7)
$safe-area-bottom: (env(safe-area-inset-bottom, 0)/1.7);

// 웹폰트
$font-primary: 'Pretendard Variable', 'sans-serif';
$font-secondary: 'YJ_Obang';

// 본문영역 사이즈
$pc-outer-spacer: 24rem;
$pc-inner-content: 1024rem;
$pc-bottom-spacer: 60rem;
$mobile-outer-spacer: 16rem;
$mobile-inner-content: 320rem;
$mobile-bottom-spacer: 40rem;

// 공통요소 사이즈
$height-header: 60rem;
$height-footer: calc(76rem + #{$safe-area-bottom});

// 컬러 강조
$color-primary: #7737e0; // 첫번째
$color-secondary: #FB85AA; // 두번째
$color-point: purple; // 기타 임시값

// 컬러 상태
$color-success: green; // 성공 임시값
$color-fail: #ff0000; // 실패 임시값
$color-complete: skyblue; // 완료 임시값
$color-error: #ff0000; // 에러 임시값
$color-warning: orange; // 경고 임시값
$color-caution: orange; // 주의 임시값
$color-danger: orange; // 위험 임시값

// 컬러 아이템
$color-item-best: #7762FF; // 베스트
$color-item-recom: #E5446D; // 추천
$color-item3: #E5446D; // 추천


//-------------------------------------------------------------------
//    Mixins Settings
//-------------------------------------------------------------------
// 안쪽 여백
@mixin in-spacer {
	padding-left: $mobile-outer-spacer;
	padding-right: $mobile-outer-spacer;
	@include media-tablet-xs {
		padding-left: $pc-outer-spacer;
		padding-right: $pc-outer-spacer;
	}
}

// 바깥 섹션
@mixin out-sec {
	min-width: $mobile-inner-content;
	@include in-spacer;
	transition: padding 0.2s ease;
}

// 안쪽 섹션
@mixin in-sec {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: $pc-inner-content;
}

//-------------------------------------------------------------------
//    Mixins Common
//-------------------------------------------------------------------
// 섹션
@mixin sec-basic {
	.sec-header {
		position: relative;
		margin-bottom: 6rem;

		.sec-tit {
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 20rem;
			color: #2A2B2D;
			.ui-icn {
				margin-right: 4rem;
			}
		}
		.sec-explain {
			font-weight: 600;
			font-size: 14rem;
			color: #63666A;
		}
		.btn-more {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

// 구분선
@mixin split-set($height, $color){
	content:'';
	display: block;
	width: 1px;
	height: $height;
	background-color: $color;
}

@mixin ellipsis1 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin ellipsis2 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@mixin ellipsis3 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

//-------------------------------------------------------------------
//    Mixins Content
//-------------------------------------------------------------------
